{% extends 'chanppEvImBundle::layout.html.twig' %}
{% block title %}Editar Nuevo Plan de Evaluación{% endblock %}
{% block body -%}

  <div id="breadcrumb-bar">
        <div class="breadcrumb-text">
            <a href="{{ path('fichaproyecto_show', { 'id': entity.getFichaproyecto().id }) }}">Ficha de Programa</a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            <a href="{{ path('planevaluacion_show', { 'id': entity.id }) }}">Plan de Evaluación</a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            Editar Plan de Evaluación
        </div>
    </div>
    {% include 'navbar.html.twig' %}
    <div id="main-content">
        <div class="main-content-title">
            <div class="title-accordion">
              <div class="help-accordion">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse3"><h2>Editar Plan de Evaluación ?</h2></a>
                            
                <div id="collapse3" class="accordion-body collapse" style="height: 0px;">
                  Un plan de evaluación puede tener asociadas múltiples evaluaciones (trimestrales, semestrales, al término del programa/proyecto, entre otras), es decir, evaluaciones de seguimiento o ex post. 
                  A su vez, cada una de esas evaluaciones puede medir efectos directos y/o indirectos.
                </div>
              </div>
            </div>
        </div>

      <div class="createedit-form">
    <form action="{{ path('planevaluacion_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
      <input type="hidden" name="_method" value="PUT" />


        <div class="row-fluid">
              <div class="span12">
                  {{ form_label(form.objetivos) }}
                  {{ form_widget(form.objetivos) }}
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse4"><img class="icon-help-table" src="{{ asset('img/icono-ayuda.png') }}" alt="logo"/></a>
                  <div class="help-accordion">
                    <div id="collapse4" class="accordion-body collapse" style="height: 0px;">
                      Defina los objetivos de la evaluación, señalando qué pregunta se desea responder con la información que se obtendrá a partir de los resultados de la evaluación. En este caso es de mucha ayuda preguntarse: ¿Para qué se está haciendo la evaluación? ¿Qué tipo de resultado se espera obtener? ¿Cómo se usarán los resultados? ¿Cuál es la relevancia de la información que se espera obtener?
                    </div>
                  </div>
                  {{ form_errors(form.objetivos) }}
              </div>
          </div>

        <div class="row-fluid">
            <div class="span6">
                        <br />
                        {{ form_label(form.destinatarios) }}
                        {{ form_widget(form.destinatarios) }}
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse5"><img class="icon-help-table" src="{{ asset('img/icono-ayuda.png') }}" alt="logo"/></a>
                        <div class="help-accordion">
                          <div id="collapse5" class="accordion-body collapse" style="height: 0px;">
                            Detallar a continuación cuáles son los destinatarios de la información. Esto debe incluir sus características principales y sus requerimientos de información, tanto en fondo como en forma. Aquí es preciso preguntarse ¿Para quién se está haciendo la evaluación? ¿Qué información se requiere proporcionar y con qué nivel de detalle? Para estos dos últimos puntos se pueden mencionar los siguientes usos posibles para los resultados de la evaluación:<br>
                            -Respaldar la continuidad y expansión de un programa a través de la verificación de sus impactos, como por ejemplo la disminución del consumo de energía por parte de sus participantes.<br>
                            -Apoyar las decisiones de inversión para producir un mayor ahorro de energía.<br>
                            -Retroalimentar el diseño de los programas o de algunas de sus componentes para aumentar su eficacia.<br>
                            De este modo, se establece con claridad el público objetivo de la evaluación que se llevará a cabo, identificando los actores claves y el sector al cual pertenecen.
                          </div>
                        </div>
                        {{ form_errors(form.destinatarios) }}

                        
                        {{ form_label(form.instanciasNumeroEvaluaciones) }}
                        {{ form_widget(form.instanciasNumeroEvaluaciones) }}
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse6"><img class="icon-help-table" src="{{ asset('img/icono-ayuda.png') }}" alt="logo"/></a>
                        <div class="help-accordion">
                          <div id="collapse6" class="accordion-body collapse" style="height: 0px;">
                            Indique el número de evaluaciones directas e indirectas que involucra este Plan de Evaluación.
                          </div>
                        </div>
                        {{ form_errors(form.instanciasNumeroEvaluaciones) }}
                      </div>
                        
            <div class="span6">     
                {{ form_row(form.instanciasPlazo) }}                
            </div>
        </div>

         {{ form_rest(form) }}   

        <div class="row-fluid">
            <div class="span12">
                {#  Extra #}
               <div class="even"> <label for="comentarioedit">Comente a continuación qué ítem editó y por qué:</label> 
                <textarea rows="4" cols="50" name="comentarioedit" required></textarea></div>
                <p>
                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                </p>
            </div>
        </div>


        
    </form>
  </div>

</div>
{% endblock %}
