{% extends 'chanppEvImBundle::layout.html.twig' %}
{% block title %}Ver Planes de Evaluación{% endblock title %}
{% block body -%}
    <div id="breadcrumb-bar">
        <div class="breadcrumb-text">
            <a href="{{ app.request.getBaseURL() }}">Home</a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            Ver Planes de Evaluación
        </div>
    </div>
    {% include 'navbar.html.twig' %}
    <div id="main-content">
        <div class="main-content-title">
            <div class="title-text">
                <h2>Planes de Evaluación</h2>
            </div>
        </div>

    <table class="table table-striped table-bordered table-striped tablesubelements fixed sortable tablesorter">
        <thead>
            <tr class="tableinfohead">
                <th>Objetivos</th>
                <th>Destinatarios</th>
                <th>Número de Evaluaciones</th>
                <th>Plazo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.objetivos }}</td>
                <td>{{ entity.destinatarios }}</td>
                <td>{{ entity.instanciasNumeroEvaluaciones }}</td>
                <td>{{ entity.instanciasPlazo }}</td>
                <td>
                <ul>
                     <div class="action-icons">
                         <a href="{{ path('planevaluacion_show', { 'id': entity.id }) }}"><img class="icon-action-table2" src="{{ asset('img/icono-ver-(lupa).png') }}" alt="logo"/></a>
                    <a href="{{ path('planevaluacion_edit', { 'id': entity.id }) }}"><img class="icon-action-table2" src="{{ asset('img/icono-editar-(lapiz).png') }}" alt="logo"/></a>
                    </div>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Pager -->
    <!-- pager -->
<div id="pager" class="pager" style="top: 727px; position: absolute;">
    <form>
        <img src="../addons/pager/icons/first.png" class="first" style="">
        <img src="../addons/pager/icons/prev.png" class="prev" style="">
        <input type="text" class="pagedisplay">
        <img src="../addons/pager/icons/next.png" class="next" style="">
        <img src="../addons/pager/icons/last.png" class="last" style="">
        <select class="pagesize">
            <option selected="selected" value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
    </form>
</div>
        <!-- Final div -->
</div>


{% block javascript %}
    <script type="text/javascript">
            $(document).ready(function() { 
    $("table") 
    .tablesorter({widthFixed: true, widgets: ['zebra']}) 
    .tablesorterPager({container: $("#pager")}); 
}); 

        </script>
{% endblock %}


{% endblock %}
