{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Planes de Evaluación</h1>
    <ul>
        <li>
            <a href="{{ path('planevaluacion_new') }}">
                Crear nuevo plan de evaluación
            </a>
        </li>
    </ul>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Objetivos</th>
                <th>Destinatarios</th>
                <th>Número de Evaluaciones</th>
                <th>Plazo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.objetivos }}</td>
                <td>{{ entity.destinatarios }}</td>
                <td>{{ entity.instanciasNumeroEvaluaciones }}</td>
                <td>{{ entity.instanciasPlazo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('planevaluacion_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('planevaluacion_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    {% endblock %}
