{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Plan de Evaluacion</h1>
    <a href="{{ path('fichaproyecto_show', { 'id': entity.getFichaproyecto().id}) }}" class="btn" >Volver a la Ficha de Proyecto
    </a>
    {# Poner if hay resultados #}
    <a href="{{ path('planevaluacion_resultados_show', { 'id': entity.id}) }}" class="btn btn-primary">
        Ver Resultados
    </a>
    {#Opciones de Plan#}
        <a href="{{ path('planevaluacion_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Editar
        </a>
        <br><br>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Objetivos</th>
                <td>{{ entity.objetivos }}</td>
            </tr>
            <tr>
                <th>Destinatarios</th>
                <td>{{ entity.destinatarios }}</td>
            </tr>
            <tr>
                <th>Número de Evaluaciones</th>
                <td>{{ entity.instanciasNumeroEvaluaciones }} evaluaciones</td>
            </tr>
            <tr>
                <th>Plazo</th>
                <td>{{ entity.instanciasPlazo }}</td>
            </tr>
        </tbody>
    </table>

    <hr>
        {# Ahora agregamos los recursos #}
            <h4>Recursos</h4> 
    <ul>
        <li>
            {# app/Resources/views/base.html.twig
                {% render 'chanppEvI' with { 'entity': entity } %} } #}

            <a href="{{ path('recurso_new', { 'planevaluacion_id': entity.id }) }}" class="btn btn-success">
                Agregar Recurso
            </a> 
        </li>
    </ul>
     <table class="table table-striped">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Tipo</th>
                <th>Cantidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for recurso in recursos %}
            <tr>
                <td>{{ recurso.titulo }}</td>
                <td>{{ recurso.descripcion }}</td>
                {% if recurso.tipo == 1 %}
                   <td>Monetario</td>
                {% elseif recurso.tipo == 2 %}
                    <td>Humano</td>
                {% elseif recurso.tipo == 3 %}
                    <td>Tiempo</td>
                {% elseif recurso.tipo == 4 %}
                    <td>Capacidad</td>
                {% elseif recurso.tipo == 5 %}
                    <td>Otro</td>
                {% endif %}
                
                <td>{{ recurso.cantidad }}</td>
                <td>
                <ul>
                    <a href="{{ path('recurso_show', { 'id': recurso.id }) }}" class="btn btn-primary">Ver</a>
                        <a href="{{ path('recurso_edit', { 'id': recurso.id }) }}" class="btn btn-warning">Editar</a>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# Fin recursos #}
    <hr>
    {# Ahora agregamos las evaluaciones #}
    <h4>Evaluaciones</h4> 
    <ul>
        <li>
            <a href="{{ path('evaluacion_new', { 'planevaluacion_id': entity.id }) }}" class="btn btn-success">
                Agregar Evaluación
            </a> 
        </li>
    </ul>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Alcance</th>
                <th>Duración</th>
                <th>Confiabilidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in evaluaciones %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.alcance }}</td>
                <td>{{ entity.duracion }}</td>
                <td>{{ entity.confiabilidad }}</td>
                <td>
                <ul>
                        <a href="{{ path('evaluacion_show', { 'id': entity.id }) }}" class="btn btn-primary">Ver</a>
                        <a href="{{ path('evaluacion_edit', { 'id': entity.id }) }}" class="btn btn-warning">Editar</a>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# Fin evaluaciones#}
{% endblock %}
