{% extends '::base.html.twig' %}

{% block body -%}
    <h1>PlanEvaluacion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Objetivos</th>
                <td>{{ entity.objetivos }}</td>
            </tr>
            <tr>
                <th>Destinatarios</th>
                <td>{{ entity.destinatarios }}</td>
            </tr>
            <tr>
                <th>Instanciasnumeroevaluaciones</th>
                <td>{{ entity.instanciasNumeroEvaluaciones }}</td>
            </tr>
            <tr>
                <th>Instanciasplazo</th>
                <td>{{ entity.instanciasPlazo }}</td>
            </tr>
        </tbody>
    </table>
        {# Ahora agregamos los recursos #}
    <h1>Recursos</h1> 
    <ul>
        <li>
            {# app/Resources/views/base.html.twig
                {% render 'chanppEvI' with { 'entity': entity } %} } #}

            <a href="{{ path('recurso_new') }}">
                Agregar Recurso
            </a> 
        </li>
    </ul>
     <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Tipo</th>
                <th>Cantidad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recurso in recursos %}
            <tr>
                <td><a href="{{ path('recurso_show', { 'id': recurso.id }) }}">{{ recurso.id }}</a></td>
                <td>{{ recurso.titulo }}</td>
                <td>{{ recurso.descripcion }}</td>
                <td>{{ recurso.tipo }}</td>
                <td>{{ recurso.cantidad }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('recurso_show', { 'id': recurso.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('recurso_edit', { 'id': recurso.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# Fin recursos #}
        <ul class="record_actions">
    <li>
        <a href="{{ path('planevaluacion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('planevaluacion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('planevaluacion_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
