{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Creación de Sub-Evaluación Indirecta</h1>
     <a href="{{ path('evaluacion_show', { 'id': app.request.get('evaluacion_id')}) }}" class="btn">
            Volver a evaluación
    </a>
    <a href="{{ path('metodorecoleccion' , { 'original_redirect': 1 , 'original_id': app.request.get('evaluacion_id')}) }}" class="btn btn-primary">
        Ver y Agregar Métodos de Recolección de Datos
    </a><br><br>
    <form action="{{ path('evaluacionindirecta_create', { 'evaluacion_id':app.request.get('evaluacion_id') }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-success">Crear</button>
        </p>
    </form>
{% endblock %}
