{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Sub-Evaluación de Impacto Indirecto</h1>
    {% if entity.getEvaluacion().getDone() == false %}
    <ul class="record_actions">
        <a href="{{ path('evaluacion_show', { 'id': entity.getEvaluacion().id}) }}" class="btn">
            Volver a evaluación
        </a>
        <a href="{{ path('evaluacionindirecta_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Editar
        </a>
        <br><br><form action="{{ path('evaluacionindirecta_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Seguro que desea eliminar?')">Eliminar</button>
        </form>
</ul>{% endif %}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Ámbito del objetivo del proyecto</th>
                <td>
                {% if entity.ambito == 1 %}
                        Capacitación/Educación
                     {% elseif entity.ambito == 2 %}
                        Información/Difusión
                     {% elseif entity.ambito == 3 %}
                        Otras Transformaciones del Mercado
                {% endif %}</td>
            </tr>
            <tr>
                <th>Grupo de interés de la evaluación</th>
                <td>{{ entity.grupoInteres }}</td>
            </tr>
            <tr>
                <th>Ejes</th>
                <td>{% for eje in entity.ejes %}
                     {% if eje == 1 %}
                        Presencia 
                     {% elseif eje == 2 %}
                        Valoración 
                     {% elseif eje == 3 %}
                        Capacidad Movilizadora 
                {% endif %}
                {% endfor %}</td>
            </tr>
            <tr>
                <th>Responsable de la ejecución</th>
                <td>{{ entity.responsable }}</td>
            </tr>
            <tr>
                <th>Plazo de la ejecución (meses)</th>
                <td>{{ entity.plazo }}</td>
            </tr>
            <tr>
                <th>Archivo</th>
                {% if document %}
                    <td><a href="{{ asset(document.getWebPath())}}" class="btn btn-primary">Descargar Archivo</a>{% if entity.getEvaluacion().getDone() == false %}  <a href="{{ path('uploadindirecta', { 'evaluacionindirecta_id': entity.id}) }}" class="btn btn-warning">Cambiar Archivo</a>{% endif %}</td>
                {% else %}
                    <td>No hay archivo{% if entity.getEvaluacion().getDone() == false %}  <a href="{{ path('uploadindirecta', { 'evaluacionindirecta_id': entity.id}) }}" class="btn btn-warning">Subir Archivo</a>{% endif %}</td>
                {% endif %}     
            </tr>
            <tr>
                <th>Métodos de recolección de datos a usar</th>
                <td>{% if metodos%}
                    {% for m in metodos %}
                    {{ m.getNombre() }}
                    {% endfor %}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    {% if entity.hasCuestionarioOnMetodo() %}
    {% if entity.getCuestionario() %}
    <h3>Cuestionario Asociado</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>
                {{ entity.getCuestionario().getNombre() }}</td>
            </tr>
            <tr>
                <th>Preguntas Alternativa</th>
                <td>{{ entity.getCuestionario().getPreguntasalternativa()|length }}</td>
            </tr>
            <tr>
                <th>Preguntas Desarrollo</th>
                <td>{{ entity.getCuestionario().getPreguntasdesarrollo()|length }}</td>
            </tr>
            <tr>
                <th></th>
                <td><a href="{{ path('cuestionario_show', { 'id': entity.getCuestionario().getId() }) }}" class="btn btn-success">Ver Cuestionario</a>
                </ul></td>
            </tr>
             
        </tbody>
    </table>
    {% else %}
    <h3>No hay cuestionario asociado</h3>
    <a href="{{ path('cuestionario_new', { 'evaluacion_id': entity.getId() }) }}" class="btn btn-primary">Crear Cuestionario</a>
    {% endif %}
    {% endif%}
{% endblock %}
