{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Evaluación Indirecta</h1>
    <ul class="record_actions">
    <li>
        <a href="{{ path('evaluacionindirecta_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('evaluacionindirecta_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Ámbito del objetivo del proyecto</th>
                <td>
                {% if entity.ambito == 1 %}
                        Capacitación/Educación
                     {% elseif entity.ambito == 2 %}
                        Información/Difusión
                     {% elseif entity.ambito == 3 %}
                        Otras Transformaciones del Mercado
                {% endif %}</td>
            </tr>
            <tr>
                <th>Grupo de interés de la evaluación</th>
                <td>{{ entity.grupoInteres }}</td>
            </tr>
            <tr>
                <th>Ejes</th>
                <td>{% for eje in entity.ejes %}
                     {% if eje == 1 %}
                        Presencia 
                     {% elseif eje == 2 %}
                        Valoración 
                     {% elseif eje == 3 %}
                        Capacidad Movilizadora 
                {% endif %}
                {% endfor %}</td>
            </tr>
            <tr>
                <th>Responsable de la ejecución</th>
                <td>{{ entity.responsable }}</td>
            </tr>
            <tr>
                <th>Plazo de la ejecución</th>
                <td>{{ entity.plazo }}</td>
            </tr>
            <tr>
                <th>Archivo</th>
                {% if document %}
                    <td><a href="{{ asset(document.getWebPath())}}">Descargar Archivo</a> - <a href="{{ path('uploadindirecta', { 'evaluacionindirecta_id': entity.id}) }}">Cambiar Archivo</a></td>
                {% else %}
                    <td>No hay archivo - <a href="{{ path('uploadindirecta', { 'evaluacionindirecta_id': entity.id}) }}">Subir Archivo</a></td>
                {% endif %}
               
            </tr>

        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('evaluacion_show', { 'id': entity.getEvaluacion().id}) }}">
            Volver a evaluación
        </a>
    </li>
</ul>
{% endblock %}
