{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Editar Pregunta Alternativa</h1>
    {% if entity.getCuestionario()%}
    <a href="{{ path('cuestionario_show' , {'id' : entity.getCuestionario().getId() }) }}" class="btn" class="btn">
            Volver a cuestionario
        </a>
        {% else %}
        <a href="{{ path('preguntaalternativa', {'cuestionario_redirect_id': app.request.get('cuestionario_redirect_id') }) }}" class="btn" class="btn">
            Volver a Preguntas Sugeridas
        </a>
        {% endif%}
    <form action="{{ path('preguntaalternativa_delete', { 'id': entity.id, 'cuestionario_redirect_id': app.request.get('cuestionario_redirect_id') }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Seguro que desea eliminar?')">Eliminar</button>
        </form>
         {% if entity.getCuestionario()%}
         <form action="{{ path('preguntaalternativa_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
          {% else %}
          <form action="{{ path('preguntaalternativa_update', { 'id': entity.id,'cuestionario_redirect_id': app.request.get('cuestionario_redirect_id') }) }}" method="post" {{ form_enctype(edit_form) }}>
          {% endif%}
    
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        {% if entity.getTipo() == 3%}
        <br><label for="alternativas">Alternativas:</label> 
        {% set numero_alternativa = 0 %}
        {% for alternativa in entity.getAlternativas() %}
        {% set numero_alternativa = numero_alternativa + 1 %}
             {{numero_alternativa}}) <input type="text" name="alternativa[{{numero_alternativa}}]" value="{{alternativa}}"><br>
        {% endfor %}
        {% endif %}
        <p>
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
        </p>
    </form>

{% endblock %}
