{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    {% if app.request.get('pregunta_tipo') == 1%}
    <h1>Creando Pregunta de Alternativas con respuestas Sí o No</h1>
    {% elseif app.request.get('pregunta_tipo') == 2%}
    <h1>Creando Pregunta de Alternativas con Valoración de 1 a 5</h1>
    {% elseif app.request.get('pregunta_tipo') == 3%}
    <h1>Creando Pregunta de Alternativas con alternativas personalizadas</h1>
    {% endif %}
    <form action="{{ path('preguntaalternativa_create', { 'cuestionario_id': app.request.get('cuestionario_id'), 'pregunta_numero': app.request.get('pregunta_numero'), 'pregunta_tipo': app.request.get('pregunta_tipo') }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        
    
        {% if app.request.get('pregunta_tipo') == 1%}
            <p>
            <button type="submit">Create</button>
        </p>
            <div style="background-color: grey;"><h3>Ejemplo:</h3>
            <h4><b>¿Está de acuerdo con esta afirmación?</b></h4>
            <input type="radio" name="ejemplosino" value="1">Sí<br>
            <input type="radio" name="ejemplosino" value="2">No<br></div>
        {% elseif app.request.get('pregunta_tipo') == 2%}
        <p>
            <button type="submit">Create</button>
        </p>
        {% elseif app.request.get('pregunta_tipo') == 3%} 
        <br><label for="alternativas">Alternativas:</label> 
        {% for i in 1..app.request.get('numero_alternativas') %}
             {{i}}) <input type="text" name="alternativa[{{i}}]"><br>
        {% endfor %}
        <p>
            <button type="submit">Create</button>
        </p>
        {% endif %}
    </form>
        <ul class="record_actions">
    <li>
       <a href="{{ path('cuestionario_show', { 'id': app.request.get('cuestionario_id')}) }}">
            Volver a cuestionario
        </a>
    </li>
</ul>
{% endblock %}
