{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Editar Recurso : {{entity.titulo}}</h1>
    <a href="{{ path('planevaluacion_show', { 'id': entity.getPlanevaluacion().id}) }}" class="btn">
            Volver al plan de evaluación
    </a><br><br>
     <ul class="record_actions"><li>
        <form action="{{ path('recurso_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Seguro que desea eliminar?')">Eliminar</button>
        </form>
    </li></ul>
    <form action="{{ path('recurso_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {% for fields in edit_form %}
          {%  if fields.vars.name != '_token' %}
            <div class="{{ cycle(["even","odds"], loop.index) }}">
            {% if fields.vars.name == 'tipo' %}
            {{ form_label(fields) }}
            {{ form_widget(fields) }}<p title="Los recursos disponibles para evaluar pueden ser de los siguientes tipos:
  -Monetarios  
  -Humanos: Funciones y responsabilidades.  
  -Tiempo  
  -Capacidades  
  -Otros" id="formhelp">?</p>
            {{ form_errors(fields) }}
            {% elseif fields.vars.name == 'cantidad' %}
             {{ form_label(fields) }}
            {{ form_widget(fields) }}<p title="Los recursos se miden en unidades de dinero ($), horas hombre (HH), tiempo (meses), entre otros. En este punto se debe cuantificar en $, HH, etc, el recurso que se está creando." id="formhelp">?</p>
            {{ form_errors(fields) }}
            {% else%}
                {{ form_label(fields) }}
                {{ form_widget(fields) }}
                {{ form_errors(fields) }}
          {% endif %}
          </div>
        {% else%}
          <div id="tokenform">{{ form_label(fields) }}
            {{ form_widget(fields) }}
            {{ form_errors(fields) }}</div>
        {% endif %}
        {% endfor %}
        <p>
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
        </p>
    </form>
        <ul class="record_actions">
   <li>
      
    </li>
</ul>
{% endblock %}
