{% extends 'chanppEvImBundle::layout.html.twig' %}
{% block title %}Crear Recurso{% endblock %}
{% block body -%}
    <div id="breadcrumb-bar">
        <div class="breadcrumb-text">
            <a href="{{ path('fichaproyecto') }}">Ficha de Programa"</a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            <a href="{{ path('planevaluacion_show', {'id':app.request.get('planevaluacion_id')} ) }}">Plan de Evaluación</a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            Creando Recurso
        </div>
    </div>
    {% include 'navbar.html.twig' %}

    <div id="main-content">
        <div class="main-content-title">
            <div class="title-text">
                <h2>Crear Recurso para evaluar el programa/proyecto</h2>
            </div>

            <a href="#" class="htooltip"><img id="icon-help" src="{{ asset('img/icono-ayuda.png') }}" alt="logo"/><span>En este punto se<br />puede agregar un<br />nuevo recurso<br />disponible para<br />la evaluación, el<br />que puede ser<br />del tipo monetario,<br />recursos<br />humanos, tiempo,<br />capacidades, etc.<br />En el caso de los<br />recursos<br />humanos<br />disponibles para<br />la evaluación, se<br />debe definir las<br />funciones y<br />responsabilidades<br />de cada uno de<br />los involucrados.<br />Se deberá<br />especificar<br />el nombre y la<br />descripción del<br />recurso,<br />incluyendo la<br />cantidad o<br />monto disponible<br />del mismo.</span></a>
        </div>

        <br />
        <br />
        <br />

        <div class="form-content">
           <form action="{{ path('recurso_create', { 'planevaluacion_id':app.request.get('planevaluacion_id') }) }}" method="post" {{ form_enctype(form) }}>
              <div class="row-fluid">
                    <div class="span5">
                        {{ form_row(form.titulo) }}
                    </div>
                        
                    <div class="span5">
                        {{ form_label(form.tipo) }}
                        {{ form_widget(form.tipo) }}
                        <a href="#" class="htooltip"><img id="icon-help" src="{{ asset('img/icono-ayuda.png') }}" alt="logo"/><span>Los recursos disponibles para<br />evaluar pueden ser de los<br />siguientes tipos:
                        <br />- Monetarios  
                        <br />- Humanos: Funciones y<br />responsabilidades.  
                        <br />- Tiempo  
                        <br />- Capacidades  
                        <br />- Otros</span></a>
                        {{ form_errors(form.tipo) }}             
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span10">
                        {{ form_row(form.descripcion) }}
                    </div>
                </div>
                
                <div class="row-fluid">
                    <div class="span10">
                        {{ form_label(form.cantidad) }}
                        {{ form_widget(form.cantidad) }}
                        <a href="#" class="htooltip"><img id="icon-help" src="{{ asset('img/icono-ayuda.png') }}" alt="logo"/><span>Los recursos se miden en unidades<br />de dinero ($), horas hombre (HH),<br />tiempo (meses), entre otros.<br />En este punto se debe cuantificar<br />en $, HH, etc, el recurso que se<br />está creando.</span></a>
                        {{ form_errors(form.cantidad) }}
                    </div>
                </div>



              {{ form_rest(form) }}

              <button type="submit" class="btn btn-success">Crear</button>

          </form>
        </div>

    </div>

{% endblock %}
