{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Recurso: {{ entity.titulo }}</h1>
     <a href="{{ path('planevaluacion_show', { 'id': entity.getPlanevaluacion().id}) }}" class="btn">
            Volver al plan de evaluación
     </a>
        <a href="{{ path('recurso_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Editar
        </a><br><br>
        <form action="{{ path('recurso_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Seguro que desea eliminar?')">Eliminar</button>
        </form>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Título</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ entity.cantidad }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
     
    </li>
</ul>

{% endblock %}
