{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Recurso: {{ entity.titulo }}</h1>
    <ul class="record_actions">
    <li>
        <a href="{{ path('recurso_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('recurso_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
    </ul>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Título</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ entity.cantidad }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
      <a href="{{ path('planevaluacion_show', { 'id': entity.getPlanevaluacion().id}) }}">
            Volver al plan de evaluación
        </a>
    </li>
</ul>

{% endblock %}
