{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    {% if entity.done == false%}
    <h1>Editar Evaluación : {{entity.nombre}}</h1>
    <a href="{{ path('evaluacion_show', { 'id': entity.id }) }}" class="btn">
            Volver a Evaluación
        </a><br><br>
     <ul class="record_actions">
        <li>
            <form action="{{ path('evaluacion_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit" class="btn btn-danger" onclick="return confirm('¿Seguro que desea eliminar?')">Eliminar</button>
            </form>
        </li>
    </ul>
    <form action="{{ path('evaluacion_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {% for fields in edit_form %}
         <div class="{{ cycle(["even","odds"], loop.index) }}">
          {%  if fields.vars.name != '_token' %}
          {% if fields.vars.name == 'alcance' %}
          {{ form_label(fields) }}
          {{ form_widget(fields) }}<p title="Identificar en este ítem la(s) pregunta(s) clave(s) que desea responder con la evaluación" id="formhelp">?</p>
          {{ form_errors(fields) }}
          {% elseif fields.vars.name == 'actividades' %}
          <p title="Seleccionar las actividades que serán sometidas a evaluación" id="formhelpactivities">?</p>
          {{ form_label(fields) }}
          {{ form_widget(fields) }}
          {{ form_errors(fields) }}
          {% else%}
              {{ form_label(fields) }}
              {{ form_widget(fields) }}
              {{ form_errors(fields) }}
          {% endif %}
          </div>
        {% endif %}
        {% endfor %}
        <p>
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
        </p>
    </form>
{% else %}
<h1>Error, la evaluación {{entity.nombre}} ha sido cerrada y no puede ser editada.</h1>
{% endif %}
{% endblock %}
