{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    {% if entity.done == false%}
    <h1>Editar Evaluaci贸n : {{entity.nombre}}</h1>
     <ul class="record_actions">
        <li>
            <form action="{{ path('evaluacion_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit">Eliminar</button>
            </form>
        </li>
    </ul>
    <form action="{{ path('evaluacion_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Guardar Cambios</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
         <a href="{{ path('evaluacion_show', { 'id': entity.id }) }}">
            Volver a Evaluaci贸n
        </a>
    </li>
</ul>
{% else %}
<h1>Error, la evaluaci贸n {{entity.nombre}} ha sido cerrada y no puede ser editada.</h1>
<ul class="record_actions">
    <li>
         <a href="{{ path('evaluacion_show', { 'id': entity.id }) }}">
            Volver a Evaluaci贸n
        </a>
    </li>
</ul>
{% endif %}
{% endblock %}
