{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Evaluacion list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Alcance</th>
                <th>Duracion</th>
                <th>Confiabilidad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('evaluacion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.alcance }}</td>
                <td>{{ entity.duracion }}</td>
                <td>{{ entity.confiabilidad }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('evaluacion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('evaluacion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('evaluacion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
