{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Creación de Evaluación <p title="Esta evaluación puede ser de seguimiento (trimestral, semestral, entre otras) o ex post (al término del programa/proyecto). 
A su vez, en esta evaluación se puede medir efectos directos y/o indirectos." id="formhelpshowtitle">?</p></h1>
    <a href="{{ path('planevaluacion_show', { 'id': app.request.get('planevaluacion_id')}) }}" class="btn">
         Volver al plan de evaluación
    </a>
    <form action="{{ path('evaluacion_create', { 'planevaluacion_id':app.request.get('planevaluacion_id') }) }}" method="post" {{ form_enctype(form) }}>
        {% for fields in form %}
         <div class="{{ cycle(["even","odds"], loop.index) }}">
          {%  if fields.vars.name != '_token' %}
          {% if fields.vars.name == 'alcance' %}
          {{ form_label(fields) }}
          {{ form_widget(fields) }}<p title="Identificar en este ítem la(s) pregunta(s) clave(s) que desea responder con la evaluación" id="formhelp">?</p>
          {{ form_errors(fields) }}
          {% elseif fields.vars.name == 'actividades' %}
          <p title="Seleccionar las actividades que serán sometidas a evaluación" id="formhelpactivities">?</p>
          {{ form_label(fields) }}
          {{ form_widget(fields) }}
          {{ form_errors(fields) }}
          {% else%}
              {{ form_label(fields) }}
              {{ form_widget(fields) }}
              {{ form_errors(fields) }}
          {% endif %}
          </div>
        {% endif %}
        {% endfor %}
        <p>
            <button type="submit" class="btn btn-success">Crear</button>
        </p>
    </form>
{% endblock %}
