{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    {# Errors go here#}
    <h1>Evaluación : {{ entity.nombre }}</h1>
    <ul class="record_actions">
    <li>
        <a href="{{ path('evaluacion_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('evaluacion_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>
    <table class="table table-striped">
        <tbody>
             <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Alcance</th>
                <td>{{ entity.alcance }}</td>
            </tr>
            <tr>
                <th>Duración</th>
                <td>{{ entity.duracion }}</td>
            </tr>
            <tr>
                <th>Confiabilidad</th>
                <td>{{ entity.confiabilidad }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    {# Actividades#}
    <h4>Actividades</h4>
    <ul>
        <li>
            <a href="{{ path('linkactivity', { 'evaluacion_id': entity.id }) }}">
                Asociar Actividades
            </a>
        </li>
    </ul>
    {% if actividades is empty %}
       No hay actividades
    {% else %}
        
         <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Resultadosesperados</th>
                    <th>Duracion</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in actividades %}
                <tr>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.descripcion }}</td>
                    <td>{{ entity.resultadosEsperados }}</td>
                    <td>{{ entity.duracion }}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('activity_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('activity_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    

    {# Fin Aspectos#}
    <hr>
    {#Evaluación Directa#}
    <h4>Evaluación Directa</h4>
    {% if evaluaciondirecta %}
                  <table class="table table-striped">
        <thead>
            <tr>
                <th>Resultado</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ evaluaciondirecta.getTotal() }} MW/h</td>
                 <td>{{ evaluaciondirecta.descripcion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('evaluaciondirecta_show', { 'id': evaluaciondirecta.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('evaluaciondirecta_edit', { 'id': evaluaciondirecta.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        </tbody>
    </table>
    {% else %}
        <ul>
        <li>
            <a href="{{ path('evaluaciondirecta_new', { 'evaluacion_id': entity.id }) }}">
                Crear Evaluación Directa
            </a>
        </li>
    </ul>
    {% endif %}
    {#Fin Evaluación Directa#}
    <hr>
    {#Evaluaciones Indirectas#}
    <h4>Evaluaciones Indirectas</h4>
     <ul>
        <li>
            <a href="{{ path('evaluacionindirecta_new', { 'evaluacion_id': entity.id }) }}">
                Crear Evaluación Indirecta
            </a>
        </li>
    </ul>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ámbito</th>
                <th>Grupo Interés</th>
                <th>Ejes</th>
                <th>Responsable</th>
                <th>Plazo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in evaluacionesindirectas %}
            <tr>
                {% if entity.ambito == 1 %}
                   <td>Capacitación/Educación</td>
                {% elseif entity.ambito == 2 %}
                    <td>Información/Difusión</td>
                {% elseif entity.ambito == 3 %}
                    <td>Otras Transformaciones de Mercado</td>
                {% endif %}
                <td>{{ entity.grupoInteres }}</td>
                <td>
                {% for eje in entity.ejes %}
                     {% if eje == 1 %}
                        Presencia 
                     {% elseif eje == 2 %}
                        Valoración 
                     {% elseif eje == 3 %}
                        Capacidad Movilizadora 
                {% endif %}
                {% endfor %}
                </td>
                <td>{{ entity.responsable }}</td>
                <td>{{ entity.plazo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('evaluacionindirecta_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('evaluacionindirecta_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#Fin Evaluaciones Indirectas#}
    <hr>
    <ul class="record_actions">
    <li>
       <a href="{{ path('planevaluacion_show', { 'id': entity.getPlanevaluacion().id}) }}">
            Volver al plan de evaluación
        </a>
    </li>
</ul>
{% endblock %}
