{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
 <h1>Evaluación "{{ entity.nombre }}"</h1>
    {# Errors go here#}
    {% if app.request.get('error') is defined %}
    <h2>{{ app.request.get('error') }}</h2>
    {% endif%}
     <a href="{{ path('planevaluacion_show', { 'id': planevaluacion.getId()}) }}" class="btn">
         Volver al Plan de Evaluación
    </a>
    {# Poner if hay resultados #}
    <a href="{{ path('evaluacion_resultados_show', { 'id': entity.id}) }}" class="btn btn-primary">
        Ver Resultados
    </a>
   <br><br>
    {% if entity.getDone() == false%}
    <a href="{{ path('evaluacion_edit', { 'id': entity.id }) }}" class="btn btn-warning">
        Editar Evaluación
    </a>
    {% endif %}
    
    {% if entity.getDone() == false%}
    <a href="{{ path('evaluacion_mark_done', { 'id': entity.id }) }}" class="btn btn-warning" 
onclick="return confirm('¿Seguro que desea marcar la evaluación como lista? Esta acción es irreversible.')">
     Marcar como lista
    </a><br><br>{% if entity.getDone() == false%}
        <form action="{{ path('evaluacion_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Seguro que desea eliminar?')">Eliminar Evaluación</button>
        </form>
     {% endif %}
    {% endif %}
    <table class="table table-striped">
        <tbody>
             <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Alcance</th>
                <td>{{ entity.alcance }}</td>
            </tr>
            <tr>
                <th>Duración</th>
                <td>{{ entity.duracion }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    {# Actividades#}
    <h4>Actividades</h4>
        {% if actividades is empty%}
        <br>No hay actividades
          {% else %}
         <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Resultados Esperados</th>
                    <th>Duracion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entity2 in actividades %}
                <tr>
                    <td>{{ entity2.nombre }}</td>
                    <td>{{ entity2.descripcion }}</td>
                    <td>{{ entity2.resultadosEsperados }}</td>
                    <td>{{ entity2.duracion }}</td>
                    <td>
                            <a href="{{ path('activity_show', { 'id': entity2.id }) }}" class="btn btn-primary">Ver</a>
                            <a href="{{ path('activity_edit', { 'id': entity2.id }) }}" class="btn btn-warning">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    

    {# Fin Aspectos#}
    <hr>
    {#Evaluación Directa#}
    <h4>Evaluación Directa</h4>
    {% if evaluaciondirecta %}
                  <table class="table table-striped">
        <thead>
            <tr>
                <th>Resultado</th>
                <th>Descripción</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ evaluaciondirecta.getTotal() }} MW/h</td>
                 <td>{{ evaluaciondirecta.descripcion }}</td>
                <td>
                        <a href="{{ path('evaluaciondirecta_show', { 'id': evaluaciondirecta.id }) }}" class="btn btn-primary">Ver</a>
                    {% if entity.getDone() == false%}
                        <a href="{{ path('evaluaciondirecta_edit', { 'id': evaluaciondirecta.id }) }}" class="btn btn-warning">Editar</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    {% else %}
        {% if entity.getDone() == false%}
            <a href="{{ path('evaluaciondirecta_new', { 'evaluacion_id': entity.id }) }}" class="btn btn-success">
                Crear Evaluación Directa
            </a>
    {% endif %}
    {% endif %}
    {#Fin Evaluación Directa#}
    <hr>
    {#Evaluaciones Indirectas#}
    <h4>Sub-Evaluaciones Indirectas</h4>
    {% if entity.getDone() == false%}
    <a href="{{ path('evaluacionindirecta_new', { 'evaluacion_id': entity.id }) }}" class="btn btn-success">
     Crear Sub-Evaluación Indirecta
    </a>
    {% endif %}
    {% if evaluacionesindirectas is empty%}
    {% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ámbito</th>
                <th>Grupo Interés</th>
                <th>Ejes</th>
                <th>Responsable</th>
                <th>Plazo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity2 in evaluacionesindirectas %}
            <tr>
                {% if entity2.ambito == 1 %}
                   <td>Capacitación/Educación</td>
                {% elseif entity2.ambito == 2 %}
                    <td>Información/Difusión</td>
                {% elseif entity2.ambito == 3 %}
                    <td>Otras Transformaciones de Mercado</td>
                {% endif %}
                <td>{{ entity2.grupoInteres }}</td>
                <td>
                {% for eje in entity2.ejes %}
                     {% if eje == 1 %}
                        Presencia<br> 
                     {% elseif eje == 2 %}
                        Valoración<br>
                     {% elseif eje == 3 %}
                        Capacidad Movilizadora<br>
                {% endif %}
                {% endfor %}
                </td>
                <td>{{ entity2.responsable }}</td>
                <td>{{ entity2.plazo }}</td>
                <td>
                <ul>
                <a href="{{ path('evaluacionindirecta_show', { 'id': entity2.id }) }}" class="btn btn-primary">Ver</a> 
                {% if entity.getDone() == false %}
                <a href="{{ path('evaluacionindirecta_edit', { 'id': entity2.id }) }}" class="btn btn-warning">Editar</a>
                {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {#Fin Evaluaciones Indirectas#}
{% endblock %}
