{% extends 'chanppEvImBundle::layout.html.twig' %}
{% block title %}Resultados Evaluaciones{% endblock %}
{% block body -%}
    {# Errors go here#}

    <div id="breadcrumb-bar">
        <div class="breadcrumb-text">
            <a href="{{ path('fichaproyecto_show', { 'id': entity.getPlanevaluacion().getFichaproyecto().id }) }}">Ficha de Programa "{{ entity.getPlanevaluacion().getFichaproyecto().getNombre() }}"</a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            <a href="{{ path('planevaluacion_show', { 'id': entity.getPlanevaluacion().id  }) }}">Plan de Evaluación</a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            <a href="{{ path('evaluacion_show', { 'id': entity.id }) }}">Evaluación</a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            Viendo Resultados de Evaluación
        </div>
    </div>

    {% include 'navbar.html.twig' %}

    <div id="main-content">
        <div class="main-content-title">
            <div class="title-text">
                <h2>Resultados Evaluación {{ entity.nombre }}</h2>
            </div>
        </div>

        <br />
        <br />
        <br />
    <h3> Datos evaluación </h3>

    <p>Área de acción: {{proyecto.getAreaAccion}}</p>
    <p>Programa: {{proyecto.getNombre}}</p>

    <h3>Impacto directo</h3>
    {% if entity.getEvaluaciondirecta %}
    <table class="table table-bordered infotable"> 
        <thead>
            <th class="tableinfohead">Resultado de la Evaluación</th>
            <th class="tableinfohead">Descripción de la Evaluación de Impacto Directo realizada</th>
        </thead>
        <tr>
            <td>{{entity.getEvaluaciondirecta.getTotal}} mW/h</td>
            <td>{{entity.getEvaluaciondirecta.getDescripcion}}</td>
        </tr>
    </table>
    {% else %}
    <p>No hay evaluación directa ingresada </p>
    {% endif %}

    <h3>Impacto indirecto</h3>
    <table class="table table-striped table-bordered table-condensed table-striped tablesubelements fixed sortable">
        <theader>            
            <th>GI</th>
            <th>Presencia</th>
            <th>Valorización</th>
            <th>Capacidad movilizadora</th>
            <th></th>
        </theader>
        {% for ev in entity.getEvaluacionesindirectas%}
        <tr>
            <td>{{ev.getGrupoInteres}}</td>
            <td>{{ev.getImpactosejes()[0]}}</td>
            <td>{{ev.getImpactosejes()[1]}}</td>
            <td>{{ev.getImpactosejes()[2]}}</td>
            <td><a href="{{ path('evaluacionindirecta_results', { 'id': ev.id }) }}"><img class="icon-action-table2" src="{{ asset('img/icono-ver-(lupa).png') }}" alt="logo"/></a></td>
        <tr>
        {% endfor %}
    </table>
</div>
{% endblock %}