{% extends 'chanppEvImBundle::layout.html.twig' %}
{% block title %}Ver Evaluación {{ entity.nombre }}{% endblock %}
{% block body -%}

<div id="breadcrumb-bar">
        <div class="breadcrumb-text">
            <a href="{{ path('fichaproyecto_show', { 'id':entity.getPlanevaluacion().getFichaproyecto().id }) }}">Ficha de Programa "{{ entity.getPlanevaluacion().getFichaproyecto().nombre }}"</a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            <a href="{{ path('planevaluacion_show', { 'id':entity.getPlanevaluacion().id }) }}">Plan de Evaluación </a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            Ver Evaluación
        </div>
</div>
    {% include 'navbar.html.twig' %}
    <div id="main-content">
        <div class="main-content-title">
            <div class="title-text">
                <h2>Evaluación "{{ entity.nombre }}"</h2>
            </div>
            <a href="#" class="htooltip"><img id="icon-help" src="{{ asset('img/icono-ayuda.png') }}" alt="logo"/><span>Un plan de evaluación puede tener asociadas múltiples evaluaciones (trimestrales, semestrales, al término del programa/proyecto, entre otras), es decir, evaluaciones de seguimiento o ex post. A continuación se detallan todas las evaluaciones asociadas a este Plan de Evaluación.</span></a>
            <div class="title-actions">
                <div class="btn-group">
                    <button class="btn">Elegir una Acción</button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_PLANIFICADOR")) %}
                            <!-- dropdown menu links -->
                            <li>
                                <a href="{{ path('evaluacion_resultados_show', { 'id': entity.id}) }}" >Ver Resultados</a>
                            </li>

                            {% if entity.getDone() == false%}
                                <li>
                                     <a href="{{ path('evaluacion_edit', { 'id': entity.id }) }}">Editar</a>
                                </li>
                            {% endif %}
                            {% if entity.getDone() == false%}
                                <li>
                                    <a href="{{ path('evaluacion_mark_done', { 'id': entity.id }) }}" onclick="return confirm('¿Seguro que desea marcar la evaluación como lista? Esta acción es irreversible.')">Marcar como lista</a>
                                </li>

                                {% if evaluaciondirecta %}
                                {% else %}
                                    {% if entity.getDone() == false%}
                                        <li>
                                            <a href="{{ path('evaluaciondirecta_new', { 'evaluacion_id': entity.id }) }}">
                                                Agregar<br>Evaluación Directa
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% if entity.getDone() == false%}
                                <li>
                                    <a href="{{ path('evaluacionindirecta_new', { 'evaluacion_id': entity.id }) }}">
                                        Agregar<br>Sub-Evaluación de<br>Impacto Indirecto
                                    </a>
                                </li>
                                {% endif %}


                                {% if entity.getDone() == false%}
                                    {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN")) %}
                                    <li>
                                        <form action="{{ path('evaluacion_delete', { 'id': entity.id }) }}" method="post" class="dropdown-menu-form" id="delete-form">
                                            <input type="hidden" name="_method" value="DELETE" />
                                            {{ form_widget(delete_form) }}
                                            <a type="submit" onclick="confirmDelete()" class="dropdown-menu-link">Eliminar</a>
                                        </form>
                                    </li>
                                    {% endif%}
                                {% endif%}
                            {% endif%}
                            
                        {% endif %}
                        

                    </ul>
                </div>
            </div>
            {# Errors go here#}
    {% if app.request.get('error') is defined %}
    <h2>{{ app.request.get('error') }}</h2>
    {% endif%}
        {% if entity.getDone()%}
        <div class="alert alert-error">
         <strong>Alerta :</strong> Esta Evaluación ha sido cerrada y no puede ser modificada.
        </div>
        {% endif %}
        </div>


        <!-- Info table -->
        <table class="table table-bordered infotable">
        <tbody>
            <tr>
                <th class="tableinfohead">Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th class="tableinfohead">Alcance<a href="#" class="htooltip"><img class="icon-help-table" src="{{ asset('img/icono-ayuda.png') }}" alt="logo"/><span>En este ítem se especifican la(s) pregunta(s) clave(s) que se desea responder con la evaluación.</span></a></th>
                <td>{{ entity.alcance }}</td>
            </tr>
            <tr>
                <th class="tableinfohead">Duración</th>
                <td>{{ entity.duracion }}</td>
            </tr>
            </tr>
        </tbody>
    </table>

    {# Actividades#}
    <h3>Actividades a evaluar</h3>
        {% if actividades is empty%}
            No hay actividades asociadas a esta Evaluación.
            {% if entity.getDone() == false%}
                             Puede agregar una <a href="{{ path('evaluacion_edit', { 'id': entity.id }) }}">aquí.</a>
                        {% endif %}
          {% else %}
         <table class="table table-striped table-bordered table-condensed table-striped tablesubelements fixed" id="tabla1">
            <thead>
                <tr class="tableinfohead">
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Resultados Esperados</th>
                    <th>Duracion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entity2 in actividades %}
                <tr>
                    <td>{{ entity2.nombre }}</td>
                    <td>{{ entity2.descripcion }}</td>
                    <td>{{ entity2.resultadosEsperados }}</td>
                    <td>{{ entity2.duracion }}</td>
                    <td class="table-actions">
                    <ul>
                        <div class="action-icons">
                            <a href="{{ path('activity_show', { 'id': entity2.id }) }}"><img class="icon-action-table2" src="{{ asset('img/icono-ver-(lupa).png') }}" alt="logo"/></a>
                            {% if entity.getDone() == false%}
                            {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_PLANIFICADOR")) %}

                                <a href="{{ path('activity_edit', { 'id': entity2.id }) }}"><img class="icon-action-table2" src="{{ asset('img/icono-editar-(lapiz).png') }}" alt="logo"/></a>

                                {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN")) %}
                                
                                    <form action="{{ path('activity_delete', { 'id': entity2.id }) }}" method="post">
                                        <input type="hidden" name="_method" value="DELETE" />
                                        {{ form_widget(delete_form) }}
                                        <button type="submit" style="border: 0; background: transparent padding-top: 0px;" onclick="return confirm('¿Seguro que desea eliminar?')">
                                            <img class="icon-action-table2" src="{{ asset('img/icono-eliminar-(cruz).png') }}" alt="logo"/>
                                        </button>
                                    </form>

                                {% endif %}
                                
                            {% endif %} {% endif %}
                        </div>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table><br>
    {% endif %}

    <hr>
    {#Evaluación Directa#}
    <div class="sub-title-align"><h3>Evaluación de Impacto Directo</h3><a href="#" class="htooltip"><img class="icon-help-sub-title" src="{{ asset('img/icono-ayuda.png') }}" alt="logo"/><span>El objetivo principal de una evaluación de impacto directo, es obtener una estimación de ahorros netos de energía o demanda alcanzado por efecto del programa o proyecto, de la forma más exacta e insesgada posible, dependiendo de la información disponible, el nivel de confiabilidad de la información requerida y de los recursos con que se cuenta para desarrollar la evaluación.</span></a></div>
    {% if evaluaciondirecta %}
        <table class="table table-striped table-bordered table-condensed table-striped tablesubelements fixed">
        <thead>
            <tr class="tableinfohead">
                <th>Resultado<a href="#" class="htooltip"><img class="icon-help-table" src="{{ asset('img/icono-ayuda.png') }}" alt="logo"/><span>
                        Fuel oil [ton] : 12210,99  (kWh/ton)<br>
Diesel [m3] : 10647,99  (kWh/m3)<br>
Gas licuado (estado líquido) [m3] : 7739,45  (kWh/m3)<br>
Gas licuado (estado gaseoso) [m3] : 9720,00 (kWh/m3)<br>
Gas natural [m3] : 10,86 (kWh/m3)<br>
Carbón [ton] : 8140,66  (kWh/ton)<br>
Kerosene [m3] : 10456,10  (kWh/m3)
                    </span></a></th>
                <th>Descripción</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ evaluaciondirecta.getTotal() }} MW/h</td>
                 <td>{{ evaluaciondirecta.descripcion }}</td>
                 <td class="table-actions">
                    <ul>
                        <div class="action-icons">
                             <a href="{{ path('evaluaciondirecta_show', { 'id': evaluaciondirecta.id }) }}"><img class="icon-action-table2" src="{{ asset('img/icono-ver-(lupa).png') }}" alt="logo"/></a>
                             {% if entity.getDone() == false%}

                            {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_PLANIFICADOR")) %}
                                <a href="{{ path('evaluaciondirecta_edit', { 'id': evaluaciondirecta.id }) }}"><img class="icon-action-table2" src="{{ asset('img/icono-editar-(lapiz).png') }}" alt="logo"/></a>{% endif %}
                                 {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN")) %}
                                <form action="{{ path('evaluaciondirecta_delete', { 'id': evaluaciondirecta.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(delete_form) }}
                            <button type="submit" style="border: 0; background: transparent padding-top: 0px;" onclick="return confirm('¿Seguro que desea eliminar?')">
                                <img class="icon-action-table2" src="{{ asset('img/icono-eliminar-(cruz).png') }}" alt="logo"/>
                            </button>
                        </form>{% endif %}{% endif %}</div>
                    </ul>
                    </td>
            </tr>
        </tbody>
    </table>
    {% else %}
       <div class="no-element-error">No hay Evaluación de Impacto Directo asociada a esta Evaluación.
        {% if entity.getDone() == false%}
            Puede agregar una 
            <a href="{{ path('evaluaciondirecta_new', { 'evaluacion_id': entity.id }) }}" >
                aquí.
            </a>
        {% endif %}
        </div>
    {% endif %}
    {#Fin Evaluación Directa#}


    {#Evaluaciones Indirectas#}
    <div class="sub-title-align"><h3>Sub-Evaluaciones de Impacto Indirecto</h3><a href="#" class="htooltip"><img class="icon-help-sub-title" src="{{ asset('img/icono-ayuda.png') }}" alt="logo"/><span>Si lo que se requiere es medir los efectos indirectos de un programa, es decir, medir los efectos que no pueden ser directamente traducidos en energía ahorrada, corresponde realizar una evaluación de impacto indirecto.<br> 
Una Sub-Evaluación de Impacto Indirecto corresponde a una evaluación de impacto indirecto a nivel de grupo de interés. En otras palabras, una Evaluación de Impacto Indirecto tendrá tantas Sub-Evaluaciones como grupos de interés tenga. El objetivo de esta sub-evaluación es medir el impacto del programa en uno o más de tres ejes, correspondientes a macro dimensiones analíticas, las que son:<br>
-Presencia: El programa debe estar presente en la mente de las personas que conforman los diferentes grupos de interés.<br> 
-Valoración: El programa debe tener una evaluación positiva y una predisposición favorable entre quienes forman parte de sus grupos de interés.<br> 
-Capacidad movilizadora: El programa debe contar con la intensidad suficiente para transferirse en las interacciones de los miembros de sus grupos de interés y motivar a estos hacia la acción concreta buscada.</span></a></div>
    {% if evaluacionesindirectas is empty%}
        <div class="no-element-error2">No hay Sub-Evaluaciones de Impacto Indirecto asociadas a esta Evaluación.
        {% if entity.getDone() == false%}
            Puede agregar una 
            <a href="{{ path('evaluacionindirecta_new', { 'evaluacion_id': entity.id }) }}" >aquí.</a>
        {% endif %}
    </div>
    {% else %}
    <table class="table table-striped table-bordered table-condensed table-striped tablesubelements" id="tabla2">
        <thead>
            <tr class="tableinfohead">
                <th>Ámbito del objetivo del programa<a href="#" class="htooltip"><img class="icon-help-table" src="{{ asset('img/icono-ayuda.png') }}" alt="logo"/><span>Este campo permite seleccionar los ámbitos de acción de un programa que serán evaluados, éstos pueden ser:<br>
-Capacitación/ Educación<br>
-Información/Difusión<br>
-Transformaciones de mercado.</span></a></th>
                <th>Grupo de Interés<a href="#" class="htooltip"><img class="icon-help-table" src="{{ asset('img/icono-ayuda.png') }}" alt="logo"/><span>En este campo se debe definir el grupo de personas sobre la cual se hará una sub-evaluación indirecta.</span></th>
                <th>Ejes<a href="#" class="htooltip"><img class="icon-help-table" src="{{ asset('img/icono-ayuda.png') }}" alt="logo"/><span>Una evaluación indirecta mide el impacto del programa en uno o más de tres ejes, correspondientes a macro dimensiones analíticas, las que son:<br>
-Presencia: El programa debe estar presente en la mente de las personas que conforman los diferentes grupos de interés.<br> 
-Valoración: El programa debe tener una evaluación positiva y una predisposición favorable entre quienes forman parte de sus grupos de interés.<br> 
-Capacidad movilizadora: El programa debe contar con la intensidad suficiente para transferirse en las interacciones de los miembros de sus grupos de interés y motivar a estos hacia la acción concreta buscada.</span></th>
                <th>Responsable de la ejecución</th>
                <th>Plazo de la ejecución (meses)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity2 in evaluacionesindirectas %}
            <tr>
                {% if entity2.ambito == 1 %}
                   <td>Capacitación/Educación</td>
                {% elseif entity2.ambito == 2 %}
                    <td>Información/Difusión</td>
                {% elseif entity2.ambito == 3 %}
                    <td>Otras Transformaciones de Mercado</td>
                {% endif %}
                <td>{{ entity2.grupoInteres }}</td>
                <td>
                {% for eje in entity2.ejes %}
                     {% if eje == 1 %}
                        Presencia<br> 
                     {% elseif eje == 2 %}
                        Valoración<br>
                     {% elseif eje == 3 %}
                        Capacidad Movilizadora<br>
                {% endif %}
                {% endfor %}
                </td>
                <td>{{ entity2.responsable }}</td>
                <td>{{ entity2.plazo }}</td>
                <td class="table-actions">
                    <ul>
                        <div class="action-icons">
                             <a href="{{ path('evaluacionindirecta_show', { 'id': entity2.id }) }}">
                                <img class="icon-action-table2" src="{{ asset('img/icono-ver-(lupa).png') }}" alt="logo"/>
                             </a>
                              {% if entity.getDone() == false %}
                              {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_PLANIFICADOR")) %}
                                <a href="{{ path('evaluacionindirecta_edit', { 'id': entity2.id }) }}"><img class="icon-action-table2" src="{{ asset('img/icono-editar-(lapiz).png') }}" alt="logo"/></a>
                                {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN")) %}<form action="{{ path('evaluacionindirecta_delete', { 'id': entity2.id }) }}" method="post">
                                    <input type="hidden" name="_method" value="DELETE" />
                                    {{ form_widget(delete_form) }}
                                    <button type="submit" style="border: 0; background: transparent padding-top: 0px;" onclick="return confirm('¿Seguro que desea eliminar?')"><img class="icon-action-table2" src="{{ asset('img/icono-eliminar-(cruz).png') }}" alt="logo"/></button>
                                </form>{% endif %}{% endif %}{% endif %}
                        </div>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br>
    {% endif %}
    {#Fin Evaluaciones Indirectas#}
   
 
    <!--Invisible Fix-->

     <!-- Final Div -->
    </div>

    {# Fin Aspectos#}
    
    <hr>
    

  {% block javascript %}

        <script type="text/javascript">
            function confirmDelete() {
                if(confirm('¿Seguro que desea eliminar?'))
                {
                    document.getElementById('delete-form').submit();
                }
            }

  $(document).ready(function() {
$('#tabla1').dataTable( {
        "oLanguage": {
            "sLengthMenu": "Mostrar _MENU_ elementos por página",
            "sZeroRecords": "No se encontraron resultados",
            "sInfo": "Mostrando desde _START_ a _END_ de _TOTAL_ elementos",
            "sInfoEmpty": "Mostrando desde 0 a 0 of 0 elementos",
            "sInfoFiltered": "(filtrados desde _MAX_ elementos)",
            "sSearch": "Buscar:",
            "oPaginate": {
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
              }
        }
    } );
$('#tabla2').dataTable( {
        "oLanguage": {
            "sLengthMenu": "Mostrar _MENU_ elementos por página",
            "sZeroRecords": "No se encontraron resultados",
            "sInfo": "Mostrando desde _START_ a _END_ de _TOTAL_ elementos",
            "sInfoEmpty": "Mostrando desde 0 a 0 of 0 elementos",
            "sInfoFiltered": "(filtrados desde _MAX_ elementos)",
            "sSearch": "Buscar:",
            "oPaginate": {
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
              }
        }
    } );
} );
</script>

    {% endblock %}
{% endblock %}
