{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Viendo respuesta específica</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Empresa</th>
                <td>{{ entity.empresa }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ entity.mail }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
        </tbody>
    </table>

    <h1>Respuestas a Preguntas</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Número</th>
                <th>Pregunta</th>
                <th>Respuesta</th>
            </tr>
        </thead>
        <tbody>
        {% for respuesta in respuestas %}
            <tr>
                <td>{{ respuesta.getPregunta().getNumeropregunta() }}</td>
                <td>{{ respuesta.getPregunta().getEnunciado() }}</td>
                 {% if respuesta.getPregunta().getTipo() == 0 %}
                 <td>{{ respuesta.getRespuesta() }}</td>
                 {% elseif respuesta.getPregunta().getTipo() == 1 %}
                     {% if respuesta.getRespuesta() == 1 %}
                     <td>Si</td>
                     {% else %}
                     <td>No</td>
                     {% endif %}
                 {% elseif respuesta.getPregunta().getTipo() == 2 %}
                 <td>{{ respuesta.getRespuesta() }}</td>
                 {% elseif respuesta.getPregunta().getTipo() == 3 %}
                 <td>{{ respuesta.getRespuesta() }}</td>
                 {% endif %}
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="record_actions">
     <li>
        <a href="{{ path('cuestionario_show', { 'id': entity.getCuestionario().id }) }}">Volver a cuestionario</a>
     </li>
    </ul>
{% endblock %}
