{% extends 'chanppEvImBundle::layout.html.twig' %}
{% block title %}Ver Respuesta Específica{% endblock %}
{% block body -%}


<div id="breadcrumb-bar">
        <div class="breadcrumb-text">
            <a href="{{ path('cuestionario_show', { 'id': entity.getCuestionario().id }) }}">Cuestionario </a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            Ver Respuesta Específica
        </div>
    </div>
    {% include 'navbar.html.twig' %}

<div id="main-content">
        <div class="main-content-title">
            <div class="title-text">
                <h2>Viendo respuesta específica</h2>
            </div>
        </div>

    <table class="table table-bordered infotable">
        <tbody>
            <tr>
                <th class="tableinfohead">Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th class="tableinfohead">Empresa</th>
                <td>{{ entity.empresa }}</td>
            </tr>
            <tr>
                <th class="tableinfohead">Mail</th>
                <td>{{ entity.mail }}</td>
            </tr>
            <tr>
                <th class="tableinfohead">Teléfono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Respuestas a Preguntas</h3>
    <table class="table table-striped table-bordered table-condensed table-striped tablesubelements fixed sortable">
        <thead>
            <tr class="tableinfohead">
                <th>Número de pregunta</th>
                <th>Pregunta</th>
                <th>Respuesta</th>
            </tr>
        </thead>
        <tbody>
        {% for respuesta in respuestas %}
            <tr>
                <td>{{ respuesta.getPregunta().getNumeropregunta() }}</td>
                <td>{{ respuesta.getPregunta().getEnunciado() }}</td>
                 {% if respuesta.getPregunta().getTipo() == 0 %}
                 <td>{{ respuesta.getRespuesta() }}</td>
                 {% elseif respuesta.getPregunta().getTipo() == 1 %}
                     {% if respuesta.getRespuesta() == 1 %}
                     <td>Si</td>
                     {% else %}
                     <td>No</td>
                     {% endif %}
                 {% elseif respuesta.getPregunta().getTipo() == 2 %}
                 <td>{{ respuesta.getRespuesta() }}</td>
                 {% elseif respuesta.getPregunta().getTipo() == 3 %}
                 <td>{{ respuesta.getRespuesta() }}</td>
                 {% endif %}
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
