{% extends 'chanppEvImBundle::layout.html.twig' %}
{% block title %}Cambios Plan Evaluación{% endblock title %}
{% block body -%}
    <div id="breadcrumb-bar">
        <div class="breadcrumb-text">
            <a href="{{ path('fichaproyecto_show', { 'id':entity.getFichaproyecto().id }) }}">Ficha de Programa "{{ entity.getFichaproyecto().nombre }}"</a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            <a href="{{ path('planevaluacion_show', { 'id':entity.id }) }}">Plan de Evaluación</a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            Viendo cambios para Plan de Evaluación
        </div>
    </div>
    {% include 'navbar.html.twig' %}

    <div id="main-content">
        <div class="main-content-title">
            <div class="title-text">
                <h2>Cambios para Plan de Evaluación</h2>
            </div>
        </div>
        <!-- Info table -->

        {% if cambios is empty %}
            <br />
            <br />
            <br />
            Actualmente este plan de evaluación no tiene cambios
        {% else %}

        <table class="table table-striped table-bordered table-condensed table-striped tablesubelements fixed tablesorter" id="tabla1">
            <thead>
                <tr class="tableinfohead">
                    <th>Usuario</th>
                    <th>Comentario</th>
                    <th>Fecha y Hora del Cambio</th>
                </tr>
            </thead>
            <tbody>
                {% for cambio in cambios %}
                    <tr>
                        <td>{{ cambio.username }}</td>
                        <td>{{ cambio.getComentario() }}</td>
                        <td>{{ cambio.fechahoracambio|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% endif %}
    </div>

    {% block javascript %}

<script type="text/javascript">
  $(document).ready(function() {
$('#tabla1').dataTable( {
        "oLanguage": {
            "sLengthMenu": "Mostrar _MENU_ elementos por página",
            "sZeroRecords": "No se encontraron resultados",
            "sInfo": "Mostrando desde _START_ a _END_ de _TOTAL_ elementos",
            "sInfoEmpty": "Mostrando desde 0 a 0 of 0 elementos",
            "sInfoFiltered": "(filtrados desde _MAX_ elementos)",
            "sSearch": "Buscar:",
            "oPaginate": {
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
              }
        }
    } );
} );
</script>
 {% endblock %}
{% endblock %}
