{% extends 'chanppEvImBundle::layout.html.twig' %}
{% block title %}Cambios Plan Evaluación{% endblock title %}
{% block body -%}
    <h1>Viendo cambios para Plan de Evaluación #{{ entity.getId()}}</h1>
     <a href="{{ path('planevaluacion_show', { 'id': entity.id }) }}" class="btn" >
            Volver a Plan de Evaluación
    </a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Comentario</th>
                <th>Hora Cambio</th>
            </tr>
        </thead>
        <tbody>
        {% for cambio in cambios %}
            <tr>
                <td>{{ cambio.username }}</td>
                <td>{{ cambio.getComentario() }}</td>
                <td>{{ cambio.fechahoracambio|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
