{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}

    <h1>IndGestion creation</h1>

    <form action="{{ path('indgestion_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('indgestion') }}">
            Back to the list
        </a>
    </li>
</ul>

{% block javascript %}

     <script type="text/javascript">
            var collectionHolder = $('div#chanpp_evimbundle_indgestiontype_metas');
            var $addTagLink = $('<a href="#" class="add_tag_link">Agregar una meta</a>');
            var indexNo = 4;
            var $newFormDiv = $("<div id=borrar_meta></div>");
            var $removeFormA = $('<a href="#">Borrar esta meta</a>');
        </script>

    {% javascripts 
        '@chanppEvImBundle/Resources/public/js/addActividades.js'
    %}
   
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% endblock %}
