{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}

    <h1>Agregar Indice de Gestión Proyecto {{entity.getFichaProyecto.getNombre}}</h1>

    <form action="{{ path('indgestion_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.nombre) }}

        <p><b>Señale a continuación las variables o circunstancias relevantes que puedan significar un obstáculo a las metas que se espera cumplir</b></p>
        {{ form_widget(form.variables_obstaculo) }} 
        {{ form_errors(form.variables_obstaculo) }}

        <h2>Metas</h2>
  
        <p>
        Se asociará a cada indicador de gestión una o más metas, de las que se deberá especificar lo siguiente:
        </p>


        <div class="meta" data-prototype="{{ form_widget(form.metas.vars.prototype)|e }}">
        {% for meta in form.metas%}

            {{ form_row(meta.nombre) }}
            {{ form_row(meta.descripcion) }}
            
            <p><b>Indicar a continuación el plazo en el cual se debe cumplir la meta.<br/> Primero introduzca el mes en el que se cumplirá (mm) y luego el año (aaaa)</b><p/>
            {{ form_errors(meta.plazoMes) }}
            {{ form_widget(meta.plazoMes) }}

            {{ form_row(meta.plazoAnio) }}

        {% endfor %}
        </div>

        {{ form_rest(form) }}   
        <p>
            <button type="submit" class="btn btn-success">Crear Indicador de Gestión</button>

        </p>
    </form>

           
{% block javascript %}

     <script type="text/javascript">
            var collectionHolder = $('div.meta');
            var $addTagLink = $('<a href="#" class="add_tag_link btn btn-success">Agregar meta</a>');
            var indexNo = 4;
            var $newFormDiv = $("<div id=borrar_meta></div>");
            var $removeFormA = $('<a href="#" class="btn btn-danger">Borrar esta meta</a>');

            $(document).ready(function() { 
                    $("label[for='chanpp_evimbundle_indgestiontype_ficha_proyecto']").hide();
                    $("[id='chanpp_evimbundle_indgestiontype_ficha_proyecto']").hide();     
          
        });

        </script>

    {% javascripts 
        '@chanppEvImBundle/Resources/public/js/addActividades.js'
    %}
   

   
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% endblock %}
