{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>IndGestion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Anodeadline</th>
                <td>{{ entity.anoDeadline }}</td>
            </tr>
            <tr>
                <th>Mesdeadline</th>
                <td>{{ entity.mesDeadline }}</td>
            </tr>
             <tr>
                <th>Ficha Proyecto</th>
                <td><a href="{{ path('fichaproyecto_show', { 'id': entity.getFichaProyecto.getId }) }}"> Show </a></td>
            </tr>

            <tr>
                <th>Metas asociadas</th>
            </tr>
                {% for meta in entity.metas %}
            <tr>
                    <td>{{meta.nombre}}</td>
                    <td><a href="{{ path('meta_show', { 'id': meta.id }) }}"> Show </a></td>
            </tr>
                {% endfor %}

            <tr>
                <th>Variables_obstaculo</th>
                <td>{{ entity.variablesobstaculo }}</td>
            </tr>
            
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('indgestion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('indgestion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('indgestion_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
