{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Lista de Actividades</h1>
    <a href="{{ path('activity_new') }}" class="btn btn-success">
                Crear Nueva Actividad
    </a>
    <table class="records_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Resultados Esperados</th>
                <th>Duración</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.resultadosEsperados }}</td>
                <td>{{ entity.duracion }}</td>
                <td>
                        <a href="{{ path('activity_show', { 'id': entity.id }) }}" class="btn btn-primary">Ver</a>
                        <a href="{{ path('activity_edit', { 'id': entity.id }) }}" class="btn btn-warning">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
