{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Actividad {{entity.nombre}}</h1>

    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Resultadosesperados</th>
                <td>{{ entity.resultadosEsperados }}</td>
            </tr>
            <tr>
                <th>Duracion</th>
                <td>{{ entity.duracion }}</td>
            </tr>
        </tbody>
    </table>

    <div class="form-actions">
        
        <a href="{{ path('fichaproyecto_show', {'id' : entity.getFichaProyecto.getId}) }}" class="btn btn-primary">
            Regresar a Ficha Proyecto
        </a>
        <a href="{{ path('activity_edit', { 'id': entity.id }) }}" class="btn">
            Editar Actividad
        </a>        

    </div>
    
    
        <form action="{{ path('activity_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Borrar Actividad</button>
        </form>

{% endblock %}
