{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Creación de Evaluación de Impacto Directo<p title="El objetivo principal de una evaluación de impacto directo, es obtener una estimación de ahorros netos de energía o demanda alcanzado por efecto del programa o proyecto, de la forma más exacta e insesgada posible, dependiendo de la información disponible, el nivel de confiabilidad de la información requerida y de los recursos con que se cuenta para desarrollar la evaluación." id="formhelpshowtitle">?</p></h1>
    <a href="{{ path('planevaluacion_show', { 'id': app.request.get('evaluacion_id')}) }}" class="btn">
            Volver a evaluación
        </a>
    <form action="{{ path('evaluaciondirecta_create', { 'evaluacion_id':app.request.get('evaluacion_id') }) }}" method="post" {{ form_enctype(form) }}>
        {% for fields in form %}
          {%  if fields.vars.name != '_token' %}
             <div class="{{ cycle(["even","odds"], loop.index) }}">
            {% if fields.vars.name == 'resultado' %}
            {{ form_label(fields) }}
            {{ form_widget(fields) }}<p title="Dependiendo del tipo de energía sobre el que pretende actuar el programa, sus impactos sobre el consumo pueden ser medidos en términos de KWh, galones de combustible, unidades térmicas de gas, etc. En este campo se debe registrar el resultado de la evaluación de impacto directo, especificando en el campo "unidad de medida" el tipo de unidad que se está empleando para registrar dicho resultado. " id="formhelp">?</p>
            {{ form_errors(fields) }}
            {% elseif fields.vars.name == 'unidad' %}
            <div id="unidadedirecta">{{ form_label(fields) }}
            {{ form_widget(fields) }}<p title="Dependiendo del tipo de energía sobre el que pretende actuar el programa, sus impactos sobre el consumo pueden ser medidos en términos de KWh, galones de combustible, unidades térmicas de gas, etc. En este campo se debe registrar el resultado de la evaluación de impacto directo, especificando en el campo "unidad de medida" el tipo de unidad que se está empleando para registrar dicho resultado. " id="formhelp">?</p>
            {{ form_errors(fields) }}</div>
            {% else%}
              {{ form_label(fields) }}
              {{ form_widget(fields) }}
              {{ form_errors(fields) }}
           {% endif %}
          </div>
        {% else%}
          <div id="tokenform">{{ form_label(fields) }}
            {{ form_widget(fields) }}
            {{ form_errors(fields) }}</div>
        {% endif %}
        {% endfor %}
        <p>
            <button type="submit" 
class="btn btn-success">Crear</button>
        </p>
    </form>
{% endblock %}
