{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Evaluación Directa</h1>
     <a href="{{ path('evaluacion_show', { 'id': entity.getEvaluacion().id}) }}" class="btn">
            Volver a evaluación
    </a>
    {% if entity.getEvaluacion().getDone() == false %}
        <a href="{{ path('evaluaciondirecta_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Editar
        </a><br><br>
        <form action="{{ path('evaluaciondirecta_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Seguro que desea eliminar?')">Eliminar</button>
        </form>{% endif %}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Valor Original</th>
                <td>{{ entity.resultado }} 
                {% if entity.unidad == 1 %}
                ton
                {% elseif entity.unidad == 2 %}
                m3
                {% elseif entity.unidad == 3 %}
                m3
                {% elseif entity.unidad == 4 %}
                m3
                {% elseif entity.unidad == 5 %}
                m3
                {% elseif entity.unidad == 6 %}
                ton
                {% elseif entity.unidad == 7 %}
                m3
                {% elseif entity.unidad == 8 %}
                kW/h
                {% elseif entity.unidad == 9 %}
                kW/h
                {% elseif entity.unidad == 10%}
                kW/h
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Valor Convertido</th>
                <td>{{ entity.getTotal() }} MW/h</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
             <tr>
                <th>Archivo</th>
                {% if document %}
                    <td><a href="{{ asset(document.getWebPath())}}" class="btn btn-primary" >Descargar Archivo</a>
                    {% if entity.getEvaluacion().getDone() == false %}
                      <a href="{{ path('uploaddirecta', { 'evaluaciondirecta_id': entity.id}) }}" class="btn btn-warning">Cambiar Archivo</a>{% endif %}</td>
                {% else %}
                    <td>No hay archivo
                    {% if entity.getEvaluacion().getDone() == false %}
                      <a href="{{ path('uploaddirecta', { 'evaluaciondirecta_id': entity.id}) }}" class="btn btn-warning">Subir Archivo</a>{% endif %}</td>
                {% endif %}
               
            </tr>
        </tbody>
    </table>
{% endblock %}
