{% extends 'chanppEvImBundle::layout.html.twig' %}
{% block title %}Métodos de Recolección de Datos{% endblock %}
{% block body -%}
    <div id="breadcrumb-bar">
        <div class="breadcrumb-text">
            {% if app.request.get('original_redirect') == 1 %}
                <a href="{{ path('evaluacionindirecta_new', { 'evaluacion_id': app.request.get('original_id') }) }}">
                    Creando Sub-Evaluación Indirecta
                </a>
            {% elseif app.request.get('original_redirect') == 2 %}
                <a href="{{ path('evaluacionindirecta_edit', { 'id': app.request.get('original_id') }) }}">
                    Editando de Sub-Evaluación Indirecta
                </a>
            {% endif %}
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            Métodos de Recolección de Datos
        </div>
    </div>
    {% include 'navbar.html.twig' %}
    <div id="main-content">
        <div class="main-content-title">
            <div class="title-text">
                <h2>Métodos de Recolección de Datos</h2>
            </div>
            
            {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_PLANIFICADOR")) %}

                <div class="title-actions">
                    <div class="btn-group">
                        <button class="btn">Elegir una Acción</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <!-- dropdown menu links -->
                            <li>
                                 <a href="{{ path('metodorecoleccion_new', {'original_redirect' : app.request.get('original_redirect') , 'original_id': app.request.get('original_id')}) }}">Crear Nuevo Método</a>
                            </li>

                            
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        <table class="table table-striped table-bordered table-condensed table-striped tablesubelements fixed tablesorter">
            <thead>
                <tr class="tableinfohead">
                    <th style="width: 90%;">Nombre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.nombre }}</td>
                        <td>
                            <ul>
                                {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_PLANIFICADOR")) %}
                                    <a href="{{ path('metodorecoleccion_edit', { 'id': entity.id , 'original_redirect' : app.request.get('original_redirect') , 'original_id': app.request.get('original_id')}) }}"><img class="icon-action-table2" src="{{ asset('img/icono-editar-(lapiz).png') }}" alt="logo"/></a>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
