{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Ver Método de Recolección</h1>
    <a href="{{ path('metodorecoleccion') }}" class="btn">
            Volver a lista de métodos de recolección
        </a>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
        </tbody>
    </table>
        <br>
        <ul class="record_actions">
        <a href="{{ path('metodorecoleccion_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Editar
        </a><br><br>
        <form action="{{ path('metodorecoleccion_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" onclick="return confirm('¿Seguro que desea eliminar?')" class="btn btn-danger">Eliminar</button>
        </form>
</ul>
{% endblock %}
