{% extends 'chanppEvImBundle::layout.html.twig' %}
{% block title %}Asociar Pregunta de Alternativas Anterior a Cuestionario{% endblock %}
{% block body -%}

 <div id="breadcrumb-bar">
        <div class="breadcrumb-text">
            <a href="{{ path('cuestionario_show', { 'id': entity.id }) }}">Cuestionario</a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            Asociar Pregunta de Alternativas Anterior a Cuestionario
        </div>
    </div>
{% include 'navbar.html.twig' %}

{% if entity.getDone() == false%}
<div id="main-content">
        <div class="main-content-title">
            <div class="title-text">
                <h2>Asociar Pregunta de Alternativas Anterior a Cuestionario</h2>
            </div>
        </div>
     <div style="margin-top: 70px;">   
    <form action="{{ path('preguntaalternativa_link_save', {'id': entity.id}) }}" method="post" {{ form_enctype(delete_form) }}>
    {# <select name="old_id" class="old-select"> #}
	{% for pregunta in preguntas%}
    <input type="radio" name="old_id" value="{{ pregunta.getId()}}">{{ pregunta.getEnunciado() }}<br><br>
	{# <option value="{{ pregunta.getId()}}">{{ pregunta.getEnunciado() }}</option> #}
	{% endfor %}
	{#</select> #}
	<p>
       <button type="submit" class="btn btn-success">Asociar Pregunta</button>
    </p>
    </form>
    </div>
</div>
{% else %}
<div id="main-content">
        <div class="main-content-title">
            <div class="title-text">
                <h2>El cuestionario ha sido cerrado, por lo que no se pueden agregar más preguntas.</h2>
            </div>
        </div>
</div>
{% endif %}

{% endblock %}


