{% extends 'chanppEvImBundle::layout.html.twig' %}
{% block title %}Respondiendo Cuestionario :  {{ entity.nombre }}{% endblock %}
{% block body -%}




    {% if entity.getEvaluacionindirecta().getEvaluacion().getDone() == false%}
    {% if entity.getDone()%}
    <div id="main-content">
     <div class="main-content-title">
            <div class="title-text">
                <h2>Respondiendo Cuestionario : {{ entity.nombre }}</h2>
            </div>
        </div>

    <div class="cuestionario">
    <hr>
    <form action="{{ path('cuestionario_save_answers', {'id': entity.id}) }}" method="post" {{ form_enctype(form) }}>
    <label for="nombre">Nombre:</label> 
    <input type="text" name="nombre" required/>
    <label for="empresa">Empresa:</label> 
    <input type="text" name="empresa" required/>
    <label for="mail">Mail:</label> 
    <input type="email" name="mail" required/>
    <label for="telefono">Teléfono:</label> 
    <input type="text" name="telefono" required/>
    <hr>
    {% set numero_pregunta = 0 %}
    {% for pregunta in preguntas%}
        {% set numero_pregunta = numero_pregunta + 1 %}
        <h3> {{numero_pregunta}}) {{ pregunta.getEnunciado() }} :</h3>
        {% if pregunta.getTipo() == 0 %}
            <input type="text" name="respuesta[{{numero_pregunta}}]" required>
        {% elseif pregunta.getTipo() == 1 %}
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="1" required>Sí<br>
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="2" required>No<br>
        {% elseif pregunta.getTipo() == 2 %}
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="1" required>1<br>
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="2" required>2<br>
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="3" required>3<br>
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="4" required>4<br>
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="5" required>5<br>
        {% set numero_alternativa = 0 %}
        {% elseif pregunta.getTipo() == 3 %}
            {% for alternativa in pregunta.getAlternativas%}
            {% set numero_alternativa = numero_alternativa + 1 %}
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="{{numero_alternativa}}" required>{{ alternativa}}<br>
             {% endfor %}
        {% endif %}
    {% endfor %}
    <br>
    <p>
       <button type="submit" class="btn btn-primary">Guardar Respuestas</button>
    </p>
    </form>
    </div>

</div>
    {% else %}


<div id="main-content">
     <div class="main-content-title">
            <div class="title-text">
                <h2>El cuestionario no se ha finalizado, por lo que no se puede responder.</h2>
            </div>
        </div>
</div>
    {% endif %}
    {% else %}

<div id="main-content">
     <div class="main-content-title">
            <div class="title-text">
                <h2>La evaluación padre asociada a este cuestionario ha sido cerrada, por lo que no se puede responder.</h2>
            </div>
        </div>
</div>
    {% endif %}
{% endblock %}
