{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <div id="breadcrumb-bar">
       <div class="breadcrumb-text">
            <a href="{{ path('cuestionario_show', {'id' : entity.id}) }}">Cuestionario</a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            Revisión de Cuestionario
        </div>
</div>
{% include 'navbar.html.twig' %}
<div id="main-content">
    <h3>{{ app.request.get('error')}}</h3>
    {% if app.request.get('editoption') == 1%}
    <div class="main-content-title" style="margin-bottom: 80px;">
            <div class="title-text">
                <h2>Vista previa de cuestionario : {{ entity.nombre }}</h2>
            </div>
    </div>
    <div id="cuestionario">
    {% set numero_pregunta = 0 %}
    {% for pregunta in preguntas%}
        {% set numero_pregunta = numero_pregunta + 1 %}
        <h3> {{numero_pregunta}}) {{ pregunta.getEnunciado() }} :</h3>
        {% if pregunta.getTipo() == 0 %}
            <input type="text" name="respuesta[{{numero_pregunta}}]">
        {% elseif pregunta.getTipo() == 1 %}
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="1">Sí<br>
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="2">No<br>
        {% elseif pregunta.getTipo() == 2 %}
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="1">1<br>
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="2">2<br>
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="3">3<br>
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="4">4<br>
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="5">5<br>
        {% elseif pregunta.getTipo() == 3 %}
            {% set numero_alternativa = 0 %}
            {% for alternativa in pregunta.alternativas %} 
            {% set numero_alternativa = numero_alternativa + 1 %}
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="{{numero_alternativa}}"> {{ alternativa }}<br>
             {% endfor %}
        {% endif %}
    {% endfor %}
    <br>
    <br>
    </div>




    {% elseif app.request.get('editoption') == 2%}

    {% if entity.getEvaluacionindirecta().getEvaluacion().getDone() == false%}
        {% if entity.getDone() == false%}
            <div class="main-content-title" style="margin-bottom: 80px;">
                    <div class="title-text">
                        <h2>Editar preguntas de cuestionario : {{ entity.nombre }}</h2>
                    </div>
            </div>
            <div id="cuestionario">
            {% set numero_pregunta = 0 %}
            {% for pregunta in preguntas%}
                {% set numero_pregunta = numero_pregunta + 1 %}
                <h3> {{numero_pregunta}}) {{ pregunta.getEnunciado() }} :</h3>
                {% if pregunta.getTipo() == 0 %}
                <table><tbody><tr>
                    <td><input type="text" name="respuesta[{{numero_pregunta}}]"><div class="pregunta-actions-edit"></td>
                    <td>
                        <a href="{{ path('preguntadesarrollo_edit', { 'id': pregunta.id }) }}"><img class="icon-action-table2" src="{{ asset('img/icono-editar-(lapiz).png') }}" alt="logo"/></a>

                        <form action="{{ path('preguntadesarrollo_delete', { 'id': pregunta.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(delete_form) }}
                            <button type="submit" style="border: 0; background: transparent" onclick="return confirm('¿Seguro que desea eliminar?')">
                                <img class="icon-action-table2" src="{{ asset('img/icono-eliminar-(cruz).png') }}" alt="logo"/>
                            </button></form></div></td></tbody></table>
                {% elseif pregunta.getTipo() == 1 %}
                     <table><tbody><tr>
                    <td>
                    <input type="radio" name="respuesta[{{numero_pregunta}}]" value="1">Sí<br>
                    <input type="radio" name="respuesta[{{numero_pregunta}}]" value="2">No<br>
                     <div class="pregunta-actions-edit"></td>
                    <td>
                        <a href="{{ path('preguntaalternativa_edit', { 'id': pregunta.id }) }}"><img class="icon-action-table2" src="{{ asset('img/icono-editar-(lapiz).png') }}" alt="logo"/></a>

                        <form action="{{ path('preguntaalternativa_delete', { 'id': pregunta.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(delete_form) }}
                            <button type="submit" style="border: 0; background: transparent" onclick="return confirm('¿Seguro que desea eliminar?')">
                                <img class="icon-action-table2" src="{{ asset('img/icono-eliminar-(cruz).png') }}" alt="logo"/>
                            </button></form>
                    </div></td></tbody></table>
                {% elseif pregunta.getTipo() == 2 %}
                    <table><tbody><tr>
                    <td>
                    <input type="radio" name="respuesta[{{numero_pregunta}}]" value="1">1<br>
                    <input type="radio" name="respuesta[{{numero_pregunta}}]" value="2">2<br>
                    <input type="radio" name="respuesta[{{numero_pregunta}}]" value="3">3<br>
                    <input type="radio" name="respuesta[{{numero_pregunta}}]" value="4">4<br>
                    <input type="radio" name="respuesta[{{numero_pregunta}}]" value="5">5<br>
                     <div class="pregunta-actions-edit"></td>
                    <td>
                        <a href="{{ path('preguntaalternativa_edit', { 'id': pregunta.id }) }}"><img class="icon-action-table2" src="{{ asset('img/icono-editar-(lapiz).png') }}" alt="logo"/></a>

                        <form action="{{ path('preguntaalternativa_delete', { 'id': pregunta.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(delete_form) }}
                            <button type="submit" style="border: 0; background: transparent" onclick="return confirm('¿Seguro que desea eliminar?')">
                                <img class="icon-action-table2" src="{{ asset('img/icono-eliminar-(cruz).png') }}" alt="logo"/>
                            </button></form>
                    </div></td></tbody></table>          
                {% elseif pregunta.getTipo() == 3 %}
                <table><tbody><tr>
                    <td>
                    {% set numero_alternativa = 0 %}
                    {% for alternativa in pregunta.alternativas %} 
                    {% set numero_alternativa = numero_alternativa + 1 %}
                    <input type="radio" name="respuesta[{{numero_pregunta}}]" value="{{numero_alternativa}}"> {{ alternativa }}<br>
                     {% endfor %}
                     <div class="pregunta-actions-edit"></td>
                    <td>
                        <a href="{{ path('preguntaalternativa_edit', { 'id': pregunta.id }) }}"><img class="icon-action-table2" src="{{ asset('img/icono-editar-(lapiz).png') }}" alt="logo"/></a>

                        <form action="{{ path('preguntaalternativa_delete', { 'id': pregunta.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(delete_form) }}
                            <button type="submit" style="border: 0; background: transparent" onclick="return confirm('¿Seguro que desea eliminar?')">
                                <img class="icon-action-table2" src="{{ asset('img/icono-eliminar-(cruz).png') }}" alt="logo"/>
                            </button></form>
                    </div></td></tbody></table>  
                {% endif %}
            {% endfor %}
            <br>
            <br>
            </div>
            {% else %}
            <h2>El cuestionario se ha finalizado, por lo que no se puede editar.</h2>
            {% endif %}
    {% else %}
         <h2>La evaluación padre del cuestionario ha sido cerrada, por lo que el cuestionario no puede seguir siendo editado.</h2>
    {% endif %}



    {% elseif app.request.get('editoption') == 3%}
        {% if entity.getEvaluacionindirecta().getEvaluacion().getDone() == false%}
            {% if entity.getDone() == false%}
            <h1>Cambiar orden de preguntas de cuestionario : {{ entity.nombre }}</h1>
            <hr>
            <form action="{{ path('cuestionario_change_order', {'id': entity.id}) }}" method="post" {{ form_enctype(delete_form) }}>
            <div id="cuestionario">
            {% set numero_pregunta = 0 %}
            {% for pregunta in preguntas%}
                {% set numero_pregunta = numero_pregunta + 1 %}
                <h3><select name="orden[{{numero_pregunta}}]">
                {% set orden_pregunta = 0 %}
                {% for p in preguntas%}
                {% set orden_pregunta = orden_pregunta + 1 %}
                {% if pregunta.getNumeropregunta() == orden_pregunta%}
                <option value="{{orden_pregunta}}" selected="true">{{orden_pregunta}}</option>
                {% else%}
                <option value="{{orden_pregunta}}">{{orden_pregunta}}</option>
                {% endif %}
                {% endfor %}
            </select> ){{ pregunta.getEnunciado() }} :</h3>
            {% endfor %}
            <br>
            <br>
            </div>
            <br>
            {% if preguntas|length != 0%}
            <p>
               <button type="submit" class="btn btn-success" class="btn btn-success">Guardar Nuevo Orden</button>
            </p>
            {% endif %}
            </form>
            {% else %}
            <h1>El cuestionario se ha finalizado, por lo que no se puede editar.</h1>
            {% endif %}
        {% else %}
            <h1>La evaluación padre del cuestionario ha sido cerrada, por lo que el cuestionario no puede seguir siendo editado.</h1>
        {% endif %}
    {% else %}
        <a href="{{ path('cuestionario_show', { 'id': entity.id }) }}" class="btn">Volver al cuestionario</a>
    {% endif %}   
</div>

{% endblock %}
