{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Vista previa de cuestionario : {{ entity.nombre }}</h1>
    <hr>
    <div id="cuestionario">
    {% set numero_pregunta = 0 %}
    {% for pregunta in preguntas%}
        {% set numero_pregunta = numero_pregunta + 1 %}
        <h3> {{numero_pregunta}}) {{ pregunta.getEnunciado() }} :</h3>
        {% if pregunta.getTipo() == 0 %}
            <input type="text" name="respuesta[{{numero_pregunta}}]">
        {% elseif pregunta.getTipo() == 1 %}
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="1">Sí<br>
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="2">No<br>
        {% elseif pregunta.getTipo() == 2 %}
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="1">1<br>
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="2">2<br>
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="3">3<br>
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="4">4<br>
            <input type="radio" name="respuesta[{{numero_pregunta}}]" value="5">5<br>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}
