{% extends 'chanppEvImBundle::layout.html.twig' %}
{% block title %}Ver Cuestionario {{ entity.nombre }}{% endblock %}
{% block body -%}


<div id="breadcrumb-bar">
        <div class="breadcrumb-text">
            <a href="{{ path('fichaproyecto_show', { 'id': entity.getEvaluacionindirecta().getEvaluacion().getPlanevaluacion().getFichaproyecto().getId() }) }}">
            Ficha de Programa
            </a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            <a href="{{ path('planevaluacion_show', { 'id': entity.getEvaluacionindirecta().getEvaluacion().getPlanevaluacion().getId() }) }}">
            Plan de Evaluación 
            </a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            <a href="{{ path('evaluacion_show', {'id' : entity.getEvaluacionindirecta().getEvaluacion().getId() }) }}" >
            Evaluación
            </a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            <a href="{{ path('evaluacionindirecta_show', {'id' : entity.getEvaluacionindirecta().getId() }) }}" >
            Sub-Evaluación de Impacto Indirecto
            </a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            Ver Cuestionario
        </div>
</div>
{% include 'navbar.html.twig' %}

   <div id="main-content">
        <div class="main-content-title">
            <div class="title-text">
                <h2>Cuestionario : {{ entity.nombre }}</h2>
            </div>
            <div class="title-actions">
                <div class="btn-group">
                    <button class="btn">Elegir una Acción</button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <!-- dropdown menu links -->
                        {% if entity.getDone() == false%}
                        <li>
                             <a href="{{ path('evaluacion_edit', { 'id': entity.id }) }}">Editar</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('evaluacion_resultados_show', { 'id': entity.id}) }}" >Ver Resultados</a>
                        </li>
                        {% if entity.getDone() == false%}
                            <li>
                                <a href="{{ path('evaluacion_mark_done', { 'id': entity.id }) }}" 
onclick="return confirm('¿Seguro que desea marcar la evaluación como lista? Esta acción es irreversible.')">Marcar como lista</a>
                            </li>
                            {% if entity.getDone() == false%}
                                {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN")) %}
                                <li>
                                    <form action="{{ path('evaluacion_delete', { 'id': entity.id }) }}" method="post" class="dropdown-menu-form" id="delete-form">
                                        <input type="hidden" name="_method" value="DELETE" />
                                        {{ form_widget(delete_form) }}
                                        <a type="submit" onclick="confirmDelete()" class="dropdown-menu-link">Eliminar</a>
                                    </form>
                                </li>
                                {% endif%}
                            {% endif%}
                        {% endif%}
                        {% if evaluaciondirecta %}
                        {% else %}
                            {% if entity.getDone() == false%}
                                <li>
                                    <a href="{{ path('evaluaciondirecta_new', { 'evaluacion_id': entity.id }) }}">
                                        Agregar<br>Evaluación Directa
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if entity.getDone() == false%}
                        <li>
                            <a href="{{ path('evaluacionindirecta_new', { 'evaluacion_id': entity.id }) }}">
                                Agregar<br>Sub-Evaluación de<br>Impacto Indirecto
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {# Errors go here#}
            {% if app.request.get('error') is defined %}
            <h2>{{ app.request.get('error') }}</h2>
            {% endif%}


        {% if entity.getEvaluacionindirecta().getEvaluacion().getDone()%}
        <h3>La evaluación padre del cuestionario ha sido cerrada, por lo que el cuestionario no puede seguir siendo editado ni respondido.</h3>
        {% endif %}


        {% if entity.getDone() %}
    <h3>El cuestionario ha sido cerrado y no se pueden agregar más preguntas.</h3>
    {% else %}
    

        {% if entity.getDone()%}
        <div class="alert alert-error">
         <strong>Alerta :</strong> Esta Evaluación ha sido cerrada y no puede ser modificada.
        </div>
        {% endif %}
        </div>
</div>













    <h1>Cuestionario : {{ entity.nombre }}</h1>
    {% if app.request.get('error') is defined %}
    <h2>{{ app.request.get('error') }}</h2>
    {% endif%}
        <ul class="record_actions">
        <a href="{{ path('evaluacionindirecta_show', {'id' : entity.getEvaluacionindirecta().getId() }) }}" class="btn">
            Volver a evaluación indirecta
        </a>
    {% if entity.getEvaluacionindirecta().getEvaluacion().getDone() == false%}
        {% if entity.getDone() == true%}<a href="{{ path('cuestionario_answer', {'id': entity.id}) }}" class="btn btn-primary">
    Link Público
    </a>{% endif %}
    {% if entity.getDone() == false%}
        <a href="{{ path('cuestionario_preview', {'id': entity.id, 'editoption': 1}) }}" class="btn btn-primary">
    Vista Previa
    </a>
        <br><br><a href="{{ path('cuestionario_preview', {'id': entity.id, 'editoption': 2}) }}" class="btn btn-warning">
    Ver y editar preguntas
    </a>
        <a href="{{ path('cuestionario_preview', {'id': entity.id, 'editoption': 3}) }}" class="btn btn-warning">
    Cambiar orden de las preguntas
    </a>
        
            <a href="{{ path('cuestionario_edit', { 'id': entity.id }) }}" class="btn btn-warning">
                Cambiar Nombre Cuestionario
            </a>
        <br><br><form action="{{ path('cuestionario_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Seguro que desea eliminar?')">Eliminar</button>
        </form>
        {% endif %}
    {% endif %}
    </ul>  
    {# Links a creación de preguntas #}
    {% if entity.getEvaluacionindirecta().getEvaluacion().getDone()%}
    <h3>La evaluación padre del cuestionario ha sido cerrada, por lo que el cuestionario no puede seguir siendo editado ni respondido.</h3>
    {% endif %}
    {% if entity.getDone() %}
    <h3>El cuestionario ha sido cerrado y no se pueden agregar más preguntas.</h3>
    {% else %}
    <hr>
    <h3>Agregar Preguntas</h3>
    <ul>
        <a href="{{ path('cuestionario_markasdone', {'id': entity.id}) }}" class="btn btn-warning" onclick="return confirm('¿Seguro que finalizar la creación del cuestionario? No podrán agregarse más preguntas.')">
        Finalizar creación de cuestionario
        </a>
            <a href="{{ path('preguntadesarrollo_new', { 'cuestionario_id': entity.id, 'pregunta_numero': pregunta_numero }) }}" class="btn btn-success">
                Agregar Pregunta Desarrollo
            </a>
            <a href="{{ path('preguntaalternativa_new', { 'cuestionario_id': entity.id, 'pregunta_tipo': 1 , 'pregunta_numero': pregunta_numero}) }}" class="btn btn-success">
                Agregar Pregunta Alternativa Sí o No
            </a>
            <a href="{{ path('preguntaalternativa_new', { 'cuestionario_id': entity.id, 'pregunta_tipo': 2 , 'pregunta_numero': pregunta_numero}) }}" class="btn btn-success">
                Agregar Pregunta Alternativa Escala 1 a 5
            </a><br><br>
            <a href="{{ path('preguntaalternativa', { 'cuestionario_redirect_id': entity.id} ) }}" class="btn btn-primary">
        Ver y Agregar Preguntas al Set de Preguntas Sugeridas
    </a>
            <a href="{{ path('cuestionario_alternativa_link', { 'id': entity.id}) }}" class="btn btn-success">
                Asociar Pregunta Alternativa Sugerida
            </a>
            <a href="{{ path('cuestionario_desarrollo_link', { 'id': entity.id}) }}" class="btn btn-success">
                 Asociar Pregunta Desarrollo Sugerida
            </a>
            <hr>
            <form action="{{ path('preguntaalternativa_new') }}" method="get" {{ form_enctype(delete_form) }}>
            <input type="hidden" name="cuestionario_id" value="{{ entity.id}}">
            <input type="hidden" name="pregunta_tipo" value="3">
            <input type="hidden" name="pregunta_numero" value="{{ pregunta_numero}}">
            <label for="numero_alternativas">Número de alternativas:</label> 
            <input type="text" name="numero_alternativas" required>
            <p>
            <button type="submit" class="btn btn-success">Agregar Pregunta con alternativas personalizadas</button>
             </p>
            </form>
    </ul>
    <hr>
    {% endif %}
    {# Fin Link#}
    <hr>
    {# Respuestas#}
    <h2>Respuestas</h2>
    {% if respuestas|length >0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Empresa</th>
                <th>Mail</th>
                <th>Telefono</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in respuestas %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.empresa }}</td>
                <td>{{ entity.mail }}</td>
                <td>{{ entity.telefono }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('respuesta_show', { 'id': entity.id }) }}">Ver Respuesta</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>No hay respuestas</h3>
    {% endif %}
    {# Fin Respuestas#}
{% endblock %}
