{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Editar Ficha Proyecto</h1>

    <form action="{{ path('fichaproyecto_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        
        {{ form_row(edit_form.area_accion) }}
        {{ form_row(edit_form.linea_accion) }}
        {{ form_row(edit_form.nombre) }}
        {{ form_row(edit_form.jefe) }}
        {{ form_row(edit_form.duracion) }}
        {{ form_row(edit_form.diagnostico_previo) }}
        {{ form_row(edit_form.obj_general) }}
        {{ form_row(edit_form.objs_especificos) }}
        {{ form_row(edit_form.descripcion) }}
        {{ form_row(edit_form.desc_causales) }}
        {{ form_row(edit_form.variables_causales) }}
        {{ form_row(edit_form.nombre_editor) }}
        {{ form_row(edit_form.activities) }}   

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Editar Ficha de Proyecto</button>

        <a href="{{ path('fichaproyecto') }}" class="btn">
            Regresar a Fichas de Proyectos
        </a>
    </div>
        <form action="{{ path('fichaproyecto_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </form>


{% block javascript %}

   <script type="text/javascript">
        var collectionHolder = $('div#chanpp_evimbundle_fichaproyectotype_activities');
        var $addTagLink = $('<a href="#" class="add_tag_link">Agregar una actividad</a>');
        var indexNo = 4;
        var $newFormDiv = $("<div id=borrar_actividad></div>");
        var $removeFormA = $('<a href="#">Borrar esta actividad</a>');
    </script>
    {% javascripts 
        '@chanppEvImBundle/Resources/public/js/addActividades.js'
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% endblock %}




