{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Viendo Fichas de Proyectos</h1>
    <a href="{{ path('index_show')}}" class="btn">
            Volver a la página de inicio</a>
    {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_PLANIFICADOR")) %}
        <a href="{{ path('fichaproyecto_new') }}" class="btn btn-success">
                Crear Ficha Proyecto
    </a>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Área de acción</th>
                <th>Línea de acción</th>
                <th>Nombre</th>
                <th>Jefe</th>
                <th>Duración</th>
                <th>Diágnostico previo</th>
                <th>Objetivo general</th>
                <th>Objetivos específicos</th>
                <th>Descripción</th>
                <th>Descripción de las relaciones causales</th>
                <th>Variables relevantes de las relaciones causales</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
                <td>{{ entity.areaaccion }}</td>
                <td>{{ entity.lineaaccion }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.jefe }}</td>
                <td>{{ entity.duracion }}</td>
                <td>{{ entity.diagnosticoprevio }}</td>
                <td>{{ entity.objgeneral }}</td>
                <td>{{ entity.objsespecificos }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.desccausales }}</td>
                <td>{{ entity.variablescausales }}</td>
                <td>
                <ul>
                        <a href="{{ path('fichaproyecto_show', { 'id': entity.id }) }}" class="btn btn-primary"  >Ver</a><br><br>
                {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_PLANIFICADOR")) %}
                        <a href="{{ path('fichaproyecto_edit', { 'id': entity.id }) }}" class="btn btn-warning">Editar</a>
                </ul>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
