{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}

    <h1>Crear Ficha de Proyecto</h1>

    <form action="{{ path('fichaproyecto_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.area_accion) }}
        {{ form_row(form.linea_accion) }}
        {{ form_row(form.nombre) }}
        {{ form_row(form.jefe) }}
        {{ form_row(form.duracion) }}
        {{ form_row(form.diagnostico_previo) }}
        {{ form_row(form.obj_general) }}
        {{ form_row(form.objs_especificos) }}
        {{ form_row(form.descripcion) }}
        {{ form_row(form.desc_causales) }}
        {{ form_row(form.variables_causales) }}
        {{ form_row(form.activities) }}

        {{ form_rest(form) }}   

        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('fichaproyecto') }}">
            Back to the list
        </a>
    </li>
</ul>
{% block javascript %}

        <script type="text/javascript">
            var collectionHolder = $('div#chanpp_evimbundle_fichaproyectotype_activities');
            var $addTagLink = $('<a href="#" class="add_tag_link">Agregar una actividad</a>');
            var indexNo = 4;
            var $newFormDiv = $("<div id=borrar_actividad></div>");
            var $removeFormA = $('<a href="#">Borrar esta actividad</a>');
        </script>

    {% javascripts 
        '@chanppEvImBundle/Resources/public/js/addActividades.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% endblock %}



