{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}

    <h1>Crear Ficha de Proyecto</h1>
    <a href="{{ path('fichaproyecto') }}" class="btn">
            Volver a Fichas de Proyectos
    </a>
    <form action="{{ path('fichaproyecto_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.area_accion) }}
        {{ form_row(form.linea_accion) }}
        {{ form_row(form.nombre) }}
        {{ form_row(form.jefe) }}
        {{ form_row(form.duracion) }}

        {{ form_label(form.diagnostico_previo) }}
        {{ form_widget(form.diagnostico_previo) }} 
    <p title="Describir brevemente la situación actual, sin proyecto, relacionada al mismo" id="formhelpshow">?</p>
        {{ form_errors(form.diagnostico_previo) }}

        {{ form_row(form.obj_general) }}

        {{ form_label(form.objs_especificos) }}
        {{ form_widget(form.objs_especificos) }} 
    <p title="Indicar cuáles son los objetivos a obtener a la finalización del proyecto" id="formhelpshow">?</p>
        {{ form_errors(form.objs_especificos) }}

        {{ form_label(form.descripcion) }}
        {{ form_widget(form.descripcion) }} 
    <p title="Presentar los rasgos sobresalientes del proyecto, actividades y toda otra información relevante que permita tener una idea acabada del proyecto y el impacto del mismo" id="formhelpshow">?</p>
        {{ form_errors(form.descripcion) }}

        {{ form_label(form.resumen_descripcion) }}
        {{ form_widget(form.resumen_descripcion) }} 
        {{ form_errors(form.resumen_descripcion) }}


        {{ form_label(form.desc_causales) }}
        {{ form_widget(form.desc_causales) }} 
    <p title="Descripción de las relaciones causales que dieron origen al proyecto y que determinó las actividades a desarrollar dentro del mismo para la obtención de los objetivos buscados" id="formhelpshow">?</p>
        {{ form_errors(form.desc_causales) }}


        {{ form_label(form.variables_causales) }}
        {{ form_widget(form.variables_causales) }} 
    <p title="Variables relevantes del proyecto que afectan las relaciones causales establecidas anteriormente" id="formhelpshow">?</p>
        {{ form_errors(form.variables_causales) }}
        
        <h2> Actividades </h2>
        <p>
        El siguiente cuadro contiene las actividades del proyecto, las que son descritas mediante el llenado de 4 campos: nombre, duración, descripción de la actividad y resultados esperados de la misma.</p>

        <div class="chanpp_evimbundle_fichaproyectotype_activities" id="chanpp_evimbundle_fichaproyectotype_activities" data-prototype="{{ form_widget(form.activities.vars.prototype)|e }}">
            {% for activity in form.activities %}

                {{ form_row(activity.nombre) }}
                {{ form_row(activity.descripcion) }}
                {{ form_row(activity.resultadosEsperados) }}
                {{ form_row(activity.duracion) }}
            {% endfor %}
        </div>

        {{ form_rest(form) }}   

        <p>
            <button type="submit" class="btn btn-success">Crear Ficha de Proyecto</button>
        </p>
    </form>
{% block javascript %}


        <script type="text/javascript">
            function aButtonPressed(){
            $.post('{{path('fichaproyecto_add_linea')}}',               
                {data1: $('#chanpp_evimbundle_fichaproyectotype_area_accion').val()}, 
                    function(response){
                        if(response.success)
                        {
                            $("[id='chanpp_evimbundle_fichaproyectotype_linea_accion']").html('');
                            $.each(response.code, function(val, text) {
                                   $("[id='chanpp_evimbundle_fichaproyectotype_linea_accion']").append(
                                   $('<option></option>').val(text).html(text)
                                );
                            });
                        }

                        

            }, "json");}

                    $(document).ready(function() { 
                    $("[id='chanpp_evimbundle_fichaproyectotype_linea_accion']").html('');    
          $('#chanpp_evimbundle_fichaproyectotype_area_accion').change(function(){aButtonPressed();});
        });

            var collectionHolder = $('div#chanpp_evimbundle_fichaproyectotype_activities');
            var $addTagLink = $('<a href="#" class="add_tag_link btn btn-success">Agregar una actividad</a>');
            var indexNo = 4;
            var $newFormDiv = $("<div id=borrar_actividad></div>");
            var $removeFormA = $('<a href="#" class="btn btn-danger">Borrar esta actividad</a>');
        </script>

    {% javascripts 
        '@chanppEvImBundle/Resources/public/js/addActividades.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% endblock %}



