{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Ficha Proyecto {{entity.id}}</h1>
    <a href="{{ path('fichaproyecto') }}" class="btn" >
            Volver a Fichas de Proyectos
    </a>
    {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_PLANIFICADOR")) %}
    <a href="{{ path('fichaproyecto_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Editar Ficha Proyecto
    </a>{% endif %}
    <br><br>       
    {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN")) %}
    <form action="{{ path('fichaproyecto_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Seguro que desea eliminar?')">Eliminar</button>
        </form>
    {% endif %}
    <table class="table">
        <tbody>
            <tr>
                <th>Área de acción</th>
                <td>{{ entity.areaaccion }}</td>
            </tr>
            <tr>
                <th>Línea de acción</th>
                <td>{{ entity.lineaaccion }}</td>
            </tr>
            <tr>
                <th>Nombre del Programa</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Jefe de Proyecto</th>
                <td>{{ entity.jefe }}</td>
            </tr>
            <tr>
                <th>Duración del Proyecto</th>
                <td>{{ entity.duracion }}</td>
            </tr>
            <tr>
                <th>Diagnóstico previo a aplicación del proyecto
                    </th>
                <td>{{ entity.diagnosticoprevio }}</td>
            </tr>
            <tr>
                <th>Objetivo general</th>
                <td>{{ entity.objgeneral }}</td>
            </tr>
            <tr>
                <th>Objetivos específicos</th>
                <td>{{ entity.objsespecificos }}</td>
            </tr>
            <tr>
                <th>Descripción del Proyecto</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Justificación del proyecto</th>
                <td>{{ entity.desccausales }}</td>
            </tr>
            <tr>
                <th>Variables relevantes</th>
                <td>{{ entity.variablescausales }}</td>
            </tr>            
        </tbody>
    </table>

    <h4>Actividades</h4>

    <table class="table table-condensed">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>

        </tr>
    {% for actividad in entity.activities %}
        <tr>
            <td> {{actividad.nombre}} </a></td>
            <td>{{actividad.descripcion}}</td>
            
        </tr>
    {% endfor %}
        </table>

    <h4>Indicadores de gestión asociados</h4>        
    
        {% for indgest in entity.getIndGestions %}
    <table class="table table-striped">
        <tr>
            <th>Indicador</th>
            <th>Metas</th>
            <th>Plazos (mes, año) </th>
        </tr>
        <tr>
            <td>
                <a href="{{ path('indgestion_show', { 'id': indgest.id }) }}">{{indgest.nombre}}</a>
            </td>
            <td>
                {% for meta in indgest.metas %}
                    <a href="{{ path('meta_show', { 'id': meta.id })}}">{{meta.descripcion}}</a><br />
                {% endfor %}
            </td>
            <td>
                {% for meta in indgest.metas %}
                    {{meta.plazoMes}} {{meta.plazoAnio}}<br />
                {% endfor %}
            </td>
        </tr>
    </table>
        {% endfor %}
        <hr>
    <h4>Plan de Evaluación</h4>
    {% if planevaluaciones|length > 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Objetivos</th>
                <th>Destinatarios</th>
                <th>Número de Evaluaciones</th>
                <th>Plazo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in planevaluaciones %}
            <tr>
                <td>{{ entity.objetivos }}</td>
                <td>{{ entity.destinatarios }}</td>
                <td>{{ entity.instanciasNumeroEvaluaciones }}</td>
                <td>{{ entity.instanciasPlazo }}</td>
                <td>
                <ul>
                    <a href="{{ path('planevaluacion_show', { 'id': entity.id }) }}" 
class="btn btn-primary">Ver</a>
                 {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN")) %}
                     <a href="{{ path('planevaluacion_edit', { 'id': entity.id }) }}" class="btn btn-warning">Editar</a>
                {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_PLANIFICADOR")) %}
        <a href="{{ path('planevaluacion_new', { 'fichaproyecto_id': entity.id }) }}" class="btn btn-success">
                    Agregar Plan de Evaluación
        </a>
    {% endif %}
    {% endif %}
    {% if entity.getNombreEditor %}
    <p><i>Editado por {{entity.getNombreEditor}}</i></p>
    {% endif %}

{% endblock %}
