{% extends 'chanppEvImBundle::layout.html.twig' %}

{% block body -%}
    <h1>Ficha Proyecto {{entity.id}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Area_accion</th>
                <td>{{ entity.areaaccion }}</td>
            </tr>
            <tr>
                <th>Linea_accion</th>
                <td>{{ entity.lineaaccion }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Jefe</th>
                <td>{{ entity.jefe }}</td>
            </tr>
            <tr>
                <th>Duracion</th>
                <td>{{ entity.duracion }}</td>
            </tr>
            <tr>
                <th>Diagnostico_previo</th>
                <td>{{ entity.diagnosticoprevio }}</td>
            </tr>
            <tr>
                <th>Obj_general</th>
                <td>{{ entity.objgeneral }}</td>
            </tr>
            <tr>
                <th>Objs_especificos</th>
                <td>{{ entity.objsespecificos }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Desc_causales</th>
                <td>{{ entity.desccausales }}</td>
            </tr>
            <tr>
                <th>Variables_causales</th>
                <td>{{ entity.variablescausales }}</td>
            </tr>            
        </tbody>
    </table>

    <h2>Actividades asociadas</h2>

    <table class="table table-condensed">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>

        </tr>
    {% for actividad in entity.activities %}
        <tr>
            <td> {{actividad.nombre}} </a></td>
            <td>{{actividad.descripcion}}</td>
            
        </tr>
    {% endfor %}
        </table>

    <h2>Indicadores de gestión asociados</h2>        
    
        {% for indgest in entity.getIndGestions %}
    <table class="table table-condensed">
        <tr>
            <th>Indicador</th>
            <th>{{indgest.mesDeadline}} {{indgest.anoDeadline}} </th>
            <th>Plazos (mes, año) </th>
        </tr>
        <tr>
            <td>
                <a href="{{ path('indgestion_show', { 'id': indgest.id }) }}">{{indgest.nombre}}</a>
            </td>
            <td>
                {% for meta in indgest.metas %}
                    {{meta.descripcion}}<br />
                {% endfor %}
            </td>
            <td>
                {% for meta in indgest.metas %}
                    {{meta.plazoMes}} {{meta.plazoAnio}}<br />
                {% endfor %}
            </td>
        </tr>
    </table>
        {% endfor %}

    <div class="form-actions">
        
        <a href="{{ path('fichaproyecto') }}" class="btn btn-primary">
            Volver a Proyectos
        </a>
        <a href="{{ path('fichaproyecto_edit', { 'id': entity.id }) }}" class="btn">
            Editar Ficha Proyecto
        </a>        

    </div>
    <form action="{{ path('fichaproyecto_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Eliminar Ficha Proyecto</button>
        </form>
   <ul>
        <li>
            {# app/Resources/views/base.html.twig
                {% render 'chanppEvI' with { 'entity': entity } %} } #}

            <a href="{{ path('planevaluacion_new', { 'fichaproyecto_id': entity.id }) }}">
                Agregar Plan de Evaluación
            </a> 
        </li>
    </ul>

    <h2>Planes de Evaluación</h2>
     <table class="table table-striped">
        <thead>
            <tr>
                <th>Objetivos</th>
                <th>Destinatarios</th>
                <th>Número de Evaluaciones</th>
                <th>Plazo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in planevaluaciones %}
            <tr>
                <td>{{ entity.objetivos }}</td>
                <td>{{ entity.destinatarios }}</td>
                <td>{{ entity.instanciasNumeroEvaluaciones }}</td>
                <td>{{ entity.instanciasPlazo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('planevaluacion_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('planevaluacion_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {% if entity.getNombreEditor %}
    <p><i>Editado por {{entity.getNombreEditor}}</i></p>
    {% endif %}

{% endblock %}
