{% extends 'chanppEvImBundle::layout.html.twig' %}
{% block title %}Ver Ficha de Programa {{ entity.nombre }}{% endblock %}
{% block body -%}
    <div id="breadcrumb-bar">
        <div class="breadcrumb-text">
            <a href="{{ path('fichaproyecto_show', { 'id':entity.id }) }}">Ficha de Programa "{{ entity.nombre }}"</a>
            <img  src="{{ asset('img/sidearrow.png') }}" alt="logo"/>
            Viendo Ficha de Progama
        </div>
    </div>
    {% include 'navbar.html.twig' %}
    <div id="main-content">
        <div class="main-content-title">
            <div class="title-text">
                <h2>Ficha de Programa "{{ entity.nombre }}"</h2>
            </div>ol
            {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_PLANIFICADOR")) %}

                <div class="title-actions">
                    <div class="btn-group">
                        <button class="btn">Elegir una Acción</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <!-- dropdown menu links -->
                            <li>
                                 <a href="{{ path('fichaproyecto_edit', { 'id': entity.id }) }}">Editar</a>
                            </li>

                            {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN")) %}
                                <li>
                                    <form action="{{ path('fichaproyecto_delete', { 'id': entity.id }) }}" method="post" class="dropdown-menu-form" id="delete-form">
                                        <input type="hidden" name="_method" value="DELETE" />
                                        {{ form_widget(delete_form) }}
                                        <a type="submit" onclick="confirmDelete()" class="dropdown-menu-link">Borrar Ficha<br />de Programa</a>
                                    </form>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        <!-- Info table -->
        
        <table class="table table-bordered infotable">
            <tbody>
                <tr>
                    <th class="tableinfohead">Área de acción</th>
                    <td>{{ entity.areaaccion }}</td>
                </tr>
                <tr>
                    <th class="tableinfohead">Línea de acción</th>
                    <td>{{ entity.lineaaccion }}</td>
                </tr>
                <tr>
                    <th class="tableinfohead">Nombre del Programa</th>
                    <td>{{ entity.nombre }}</td>
                </tr>
                <tr>
                    <th class="tableinfohead">Jefe de Proyecto</th>
                    <td>{{ entity.jefe }}</td>
                </tr>
                <tr>
                    <th class="tableinfohead">Duración del Proyecto</th>
                    <td>{{ entity.duracion }}</td>
                </tr>
                <tr>
                    <th class="tableinfohead">Diagnóstico previo a aplicación del proyecto
                        </th>
                    <td>{{ entity.diagnosticoprevio }}</td>
                </tr>
                <tr>
                    <th class="tableinfohead">Objetivo general</th>
                    <td>{{ entity.objgeneral }}</td>
                </tr>
                <tr>
                    <th class="tableinfohead">Objetivos específicos</th>
                    <td>{{ entity.objsespecificos }}</td>
                </tr>
                <tr>
                    <th class="tableinfohead">Descripción del Proyecto</th>
                    <td>{{ entity.descripcion }}</td>
                </tr>
                <tr>
                    <th class="tableinfohead">Resumen de la descripción</th>
                    {% if entity.getResumenDescripcion %}
                        <td>{{ entity.getResumenDescripcion }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="tableinfohead">Justificación del proyecto</th>
                    <td>{{ entity.desccausales }}</td>
                </tr>
                <tr>
                    <th class="tableinfohead">Variables relevantes</th>
                    <td>{{ entity.variablescausales }}</td>
                </tr> 
            </tbody>
        </table>

        <br />     
        
        <!-- Actividades -->
        <h3>Actividades</h3>
        {% if entity.activities is empty%}
            No hay actividades asociadas a esta ficha de programa.
        {% else %}
            <table class="table table-striped table-bordered table-condensed table-striped tablesubelements fixed sortable">
                <thead>
                    <tr class="tableinfohead">
                        <th>Nombre</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for actividad in entity.activities %}
                        <tr>
                            <td> {{actividad.nombre}} </a></td>
                            <td>{{actividad.descripcion}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}


        <!-- Indicadores de gestión asociados -->
        <h3>Indicadores de gestión asociados</h3>
        {% if entity.getIndGestions is empty%}
            No hay indicadores de gestión asociados a esta ficha de programa.
        {% else %}
            <table class="table table-striped table-bordered table-condensed table-striped tablesubelements fixed sortable">
                <thead>
                    <tr class="tableinfohead">
                        <th>Indicador</th>
                        <th>Metas</th>
                        <th>Plazos (mes, año) </th>
                    </tr>
                </thead>
                <tbody>
                    {% for indgest in entity.getIndGestions %}
                        <tr>
                            <td>
                                <a href="{{ path('indgestion_show', { 'id': indgest.id }) }}">{{indgest.nombre}}</a>
                            </td>
                            <td>
                                {% for meta in indgest.metas %}
                                    <a href="{{ path('meta_show', { 'id': meta.id })}}">{{meta.descripcion}}</a><br />
                                {% endfor %}
                            </td>
                            <td>
                                {% for meta in indgest.metas %}
                                    {{meta.plazoMes}} {{meta.plazoAnio}}<br />
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}



        <!-- Plan de Evaluación -->
        <h3>Plan de Evaluación</h3>
        {% if planevaluaciones|length > 0 %}
            <table class="table table-striped table-bordered table-condensed table-striped tablesubelements fixed sortable">
                <thead>
                    <tr class="tableinfohead">
                        <th>Objetivos</th>
                        <th>Destinatarios</th>
                        <th>Número de Evaluaciones</th>
                        <th>Plazo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in planevaluaciones %}
                        <tr>
                            <td>{{ entity.objetivos }}</td>
                            <td>{{ entity.destinatarios }}</td>
                            <td>{{ entity.instanciasNumeroEvaluaciones }}</td>
                            <td>{{ entity.instanciasPlazo }}</td>
                            <td>
                                <ul>
                                    <a href="{{ path('planevaluacion_show', { 'id': entity.id }) }}" ><img class="icon-action-table2" src="{{ asset('img/icono-ver-(lupa).png') }}" alt="logo"/></a>
                                    
                                    {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN")) %}
                                    <a href="{{ path('fichaproyecto_edit', { 'id': entity.id }) }}"><img class="icon-action-table2" src="{{ asset('img/icono-editar-(lapiz).png') }}" alt="logo"/></a>
                                        <a href="{{ path('planevaluacion_edit', { 'id': entity.id }) }}" ></a>
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_PLANIFICADOR")) %}
                <a href="{{ path('planevaluacion_new', { 'fichaproyecto_id': entity.id }) }}" class="btn btn-success">Agregar Plan de Evaluación</a>
            {% endif %}
        {% endif %}

        <br />
        
        {% if entity.getNombreEditor %}
        <p><i>Editado por {{entity.getNombreEditor}}</i></p>
        {% endif %}

    </div>


    {% block javascript %}

        <script type="text/javascript">
            function confirmDelete() {
                if(confirm('¿Seguro que desea eliminar?'))
                {
                    document.getElementById('delete-form').submit();
                }
            }
        </script>
    
        
    {% endblock %}
{% endblock %}
